20201116

### Bit Counting
https://www.codewars.com/kata/526571aae218b8ee490006f4  
6 kyu (IMHO, it's too easy for 6 kyu)

Write a function that takes an integer as input, and returns the number of bits that are equal to one in the binary representation of that number. You can guarantee that input is non-negative.

Example: The binary representation of 1234 is 10011010010, so the function should return 5 in this case

__My solution:__

In [5]:
def count_bits(n):
    return bin(n).count('1')

print(count_bits(0), 0)
print(count_bits(4), 1)
print(count_bits(7), 3)
print(count_bits(9), 2)
print(count_bits(10), 2)

0 0
1 1
3 3
2 2
2 2

In [3]:
help(bin)

Help on built-in function bin in module builtins:

bin(number, /)
    Return the binary representation of an integer.

    >>> bin(2796202)
    '0b1010101010101010101010'

In [6]:
help(oct)

Help on built-in function oct in module builtins:

oct(number, /)
    Return the octal representation of an integer.

    >>> oct(342391)
    '0o1234567'

In [10]:
chr(75)

'K'

In [11]:
ord('K')

65

__Other users' solutions:__

In [12]:
def countBits(n):
    total = 0
    while n > 0:
        total += n % 2
        n >>= 1  # n = n >> 1
    return total

print(count_bits(0), 0)
print(count_bits(4), 1)
print(count_bits(7), 3)
print(count_bits(9), 2)
print(count_bits(10), 2)

0 0
1 1
3 3
2 2
2 2

Using n&1 does a bitwise AND with 1, which is non-zero if the 1 bit is on, which also tests for odd numbers:

In [13]:
def countBits(n):
    total = 0
    while n > 0:
        total += n & 1
        n >>= 1  # n = n >> 1
    return total

print(count_bits(0), 0)
print(count_bits(4), 1)
print(count_bits(7), 3)
print(count_bits(9), 2)
print(count_bits(10), 2)

0 0
1 1
3 3
2 2
2 2

In [14]:
1 & 1

1

In [15]:
0 & 1

0

In [16]:
2 & 1

0

### CamelCase Method
https://www.codewars.com/kata/587731fda577b3d1b0001196  
6 kyu (IMHO, it's too easy for 6 kyu)

Write simple .camelCase method (camel_case function in PHP, CamelCase in C# or camelCase in Java) for strings. All words must have their first letter capitalized without spaces.

For instance:

camelcase("hello case") => HelloCase
camelcase("camel case word") => CamelCaseWord
Don't forget to rate this kata! Thanks :)

__My solutions:__

__#1__

In [19]:
def camel_case(string):
    return string.title().replace(' ', '').replace('\t', '')

print(camel_case("test case"), "TestCase")
print(camel_case("camel case method"), "CamelCaseMethod")
print(camel_case("say hello "), "SayHello")
print(camel_case(" camel case word"), "CamelCaseWord")
print(camel_case(""), "")

TestCase TestCase
CamelCaseMethod CamelCaseMethod
SayHello SayHello
CamelCaseWord CamelCaseWord

In [18]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

__#2__

In [20]:
def camel_case(string):
    return ''.join(map(str.capitalize, string.split()))

print(camel_case("test case"), "TestCase")
print(camel_case("camel case method"), "CamelCaseMethod")
print(camel_case("say hello "), "SayHello")
print(camel_case(" camel case word"), "CamelCaseWord")
print(camel_case(""), "")

TestCase TestCase
CamelCaseMethod CamelCaseMethod
SayHello SayHello
CamelCaseWord CamelCaseWord

20201117

### Count the Digit
https://www.codewars.com/kata/566fc12495810954b1000030  
7 kyu

Take an integer n (n >= 0) and a digit d (0 <= d <= 9) as an integer. Square all numbers k (0 <= k <= n) between 0 and n. Count the numbers of digits d used in the writing of all the k**2. Call nb_dig (or nbDig or ...) the function taking n and d as parameters and returning this count.

#Examples:

n = 10, d = 1, the k*k are 0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100

We are using the digit 1 in 1, 16, 81, 100. The total count is then 4.

nb_dig(25, 1):  
the numbers of interest are   
1, 4, 9, 10, 11, 12, 13, 14, 19, 21 which squared are 1, 16, 81, 100, 121, 144, 169, 196, 361, 441
so there are 11 digits `1` for the squares of numbers between 0 and 25.

Note that 121 has twice the digit 1.

__My solutions:__

__#1__

In [22]:
def nb_dig(n, d):
    return sum(str(n * n).count(str(d)) for n in range(n + 1))
    
print(nb_dig(5750, 0), 4700)
print(nb_dig(11011, 2), 9481)
print(nb_dig(12224, 8), 7733)
print(nb_dig(11549, 1), 11905)

4700 4700
9481 9481
7733 7733
11905 11905

__#2__

In [1]:
def nb_dig(n, d):
    amount = 0
    for n in range(n + 1):
        n = n * n
        while True:
            if n % 10 == d:
                amount += 1
            n //= 10
            if n == 0:
                break
    return amount

print(nb_dig(0, 0), 1)
print(nb_dig(5750, 0), 4700)
print(nb_dig(11011, 2), 9481)
print(nb_dig(12224, 8), 7733)
print(nb_dig(11549, 1), 11905)

1 1
4700 4700
9481 9481
7733 7733
11905 11905

### Simple reversed parenthesis
https://www.codewars.com/kata/5a3f2925b6cfd78fb0000040  
6 kyu

Given a string, return the minimal number of parenthesis reversals needed to make balanced parenthesis.

For example:

solve(")(") = 2 Because we need to reverse ")" to "(" and "(" to ")". These are 2 reversals. 

solve("(((())") = 1 We need to reverse just one "(" parenthesis to make it balanced.

solve("(((") = -1 Not possible to form balanced parenthesis. Return -1.

Parenthesis will be either "(" or ")".

More examples in the test cases.

__My solution:__

In [9]:
def solve(s):
    if not s:
        return 0
    if len(s) % 2:
        return -1
    
    reverse = 0
    stack = []
    
    for c in s:
        if c == ')' and stack:
            if stack[-1] == '(':
                stack.pop()
            else:  # this branch's optional because of last part
                stack.pop()
                reverse += 1
        elif c in '()':  # this check is not necessary
            stack.append(c)
    
    for i in range(0, len(stack), 2):
        if stack[i] != '(':
            reverse += 1
        if stack[i + 1] != ')':
            reverse += 1
            
    return reverse

print(solve(")()("), 2)
print(solve("((()"), 1)
print(solve("((("), -1)
print(solve("())((("), 3)
print(solve("())()))))()()("), 4)
print(solve("())()))))()()((("), 5)

2 2
1 1
-1 -1
3 3
4 4
5 5

In [20]:
from itertools import cycle

def solve(s):
    if not s:
        return 0
    if len(s) % 2:
        return -1
    
    reverse = 0
    stack = []
    
    for c in s:
        if c == ')' and stack:
            if stack[-1] == '(':
                stack.pop()
            else:  # this branch's optional because of last part
                stack.pop()
                reverse += 1
        elif c in '()':  # this check is not necessary
            stack.append(c)

    paired_parents = cycle('()')
    reverse += sum(next(paired_parents) != c for c in stack)            
    return reverse

print(solve(")()("), 2)
print(solve("((()"), 1)
print(solve("((("), -1)
print(solve("())((("), 3)
print(solve("())()))))()()("), 4)
print(solve("())()))))()()((("), 5)

[')', '(']
2 2
['(', '(']
1 1
-1 -1
[')', '(', '(', '(']
3 3
[')', '(']
4 4
[')', '(', '(', '(']
5 5

In [14]:
print(next(cycle('()')), next(cycle('()')), next(cycle('()')), next(cycle('()')))

( ( ( (

In [17]:
it = cycle('ABCD')
print(next(it), next(it), next(it), next(it), next(it), next(it))

A B C D A B

In [19]:
from itertools import cycle

def solve(s):
    if not s:
        return 0
    if len(s) % 2:
        return -1
    
    reverse = 0
    stack = []
    
    for c in s:
        if c == ')' and stack:
            if stack[-1] == '(':
                stack.pop()
        else:
            stack.append(c)
    
    paired_parents = cycle('()')
    reverse += sum(next(paired_parents) != c for c in stack)            
    return reverse

print(solve(")()("), 2)
print(solve("((()"), 1)
print(solve("((("), -1)
print(solve("())((("), 3)
print(solve("())()))))()()("), 4)
print(solve("())()))))()()((("), 5)

2 2
1 1
-1 -1
3 3
2 4
3 5

__Other users' solutions:__

__#1__ This solution's not the best one in performance and not very readable but it has something captivating

In [52]:
def solve(s):
    t = None
    while t != s:
        t, s = s, s.replace('()', '')
    return -1 if len(s) % 2 else sum(1 + (a == tuple(')(')) for a in zip(*[iter(s)] * 2))

print(solve("(((("), 2)
print(solve(")()("), 2)
print(solve("((()"), 1)
print(solve("((("), -1)
print(solve("())((("), 3)
print(solve("())()))))()()("), 4)
print(solve("())()))))()()((("), 5)

2 2
2 2
1 1
-1 -1
3 3
4 4
5 5

In [48]:
s = ")()("
list(zip([iter(s)] * 2))

[(<str_iterator at 0x725bb38>,), (<str_iterator at 0x725bb38>,)]

In [49]:
s = ")()("
list(zip(*[iter(s)] * 2)) # == list(zip(*([iter(s)] * 2)))
                          # != list(zip((*[iter(s)]) * 2))

[(')', '('), (')', '(')]

In [50]:
list(zip((*[iter(s)]) * 2))

SyntaxError: can't use starred expression here (<ipython-input-50-790b1c0c7f1e>, line 4)

In [51]:
s = ")()("
list(zip(*[iter(s)] * 3))

[(')', '(', ')')]

In [53]:
s = "(((("
list(zip(*[iter(s)] * 2))

[('(', '('), ('(', '(')]

In [29]:
s = 'dsfd'
s.replace('a', '')
print(s)

dsfd

__#2__ IMHO, the best one in performance and algorithm but not very obvious from the first look

In [ ]:
def solve(s):
    if len(s)&1: return -1
    inv = open = 0
    for c in s:
        if c == '(':
            open += 1
        elif open:
            open -= 1
        else:
            open = 1
            inv += 1
    return inv + open//2

In [28]:
def solve(s):
    if len(s) % 2:
        return -1
    
    ans = 0
    opened = 0
    for c in s:
        if c == '(':
            opened += 1
        elif opened:
            opened -= 1
        else:
            ans += 1
            opened += 1
    # I suppose, opened's allways even and it denotes amount of '('
    # including some unusable, reversed ')'
    return ans + opened // 2  


print(solve(")()("), 2)
print(solve("((()"), 1)
print(solve("((("), -1)
print(solve("())((("), 3)
print(solve("())()))))()()("), 4)
print(solve("())()))))()()((("), 5)

2 2
1 1
-1 -1
3 3
4 4
5 5

__#3__ Not the best one but very readable

In [ ]:
def solve(s):
    while "()" in s:
        s = s.replace("()","")
    count = 0
    while len(s)>1:
        count+=s.count("((")
        s = s.replace("((","")
        count+=s.count("))")
        s = s.replace("))","")
        count+=(s.count(")(")*2)
        s = s.replace(")(","")
    return count if len(s)==0 else -1

__#4__ Like the previous one but more pythonic and a little bit crazier

In [ ]:
def solve(s, r={'((': 1, '))': 1, ')(': 2}):
    if len(s) % 2 == 1:
        return -1
    while '()' in s:
        s = s.replace('()', '')
    return sum(
        r[x]
        for x in map(''.join, zip(*[iter(s)] * 2))
    )

__#5__

In [40]:
from math import ceil

class Stack:
    def __init__(self):
        self.items = []

    def is_empty(self):
        return self.items == []

    def push(self, item):
        self.items.append(item)

    def pop(self):
        return self.items.pop()

    def peek(self):
        return self.items[-1]

    def size(self):
        return len(self.items)


def solve(s):
    l = len(s)
    if l % 2 != 0: return -1
    stack = Stack(); count = 0; i = 0
    while i < len(s):
        if s[i] == "(":
            stack.push(s[i])
        else:
            if stack.is_empty():
                count += 1
            else: stack.pop()
        i += 1
    q = (count + stack.size()) // 2 # I guess, or both nums are odd,
                                    # or both numbers are even
    #print(count, stack.size(), q)
    #return q if count % 2 == 0 and stack.size() % 2 == 0 else q + 1
    return q if count % 2 == 0 else q + 1
    #return ceil((count + stack.size()) / 2)  # not the same result

print(solve(")()("), 2)
print(solve("((()"), 1)
print(solve("((("), -1)
print(solve("())((("), 3)
print(solve("())()))))()()("), 4)
print(solve("())()))))()()((("), 5)

1 1 1
2 2
0 2 1
1 1
-1 -1
1 3 2
3 3
5 1 3
4 4
5 3 4
5 5

In [33]:
ceil(2.5)

3

In [34]:
ceil(2.0)

2

__#6__

In [ ]:
def solve(s):
    if len(s) % 2: return -1
    count, swap = 0, 0
    for i,c in enumerate(s):
        count += (c == '(') - (c == ')')
        if count < 0:
            swap += 1 ; count = 1
        elif count > len(s)-i: 
            swap += 1 ; count -= 2
    return swap

20201118

### Disemvowel Trolls
https://www.codewars.com/kata/52fba66badcd10859f00097e  
7 kyu

Trolls are attacking your comment section!

A common way to deal with this situation is to remove all of the vowels from the trolls' comments, neutralizing the threat.

Your task is to write a function that takes a string and return a new string with all vowels removed.

For example, the string "This website is for losers LOL!" would become "Ths wbst s fr lsrs LL!".

Note: for this kata y isn't considered a vowel.

__My solutions:__

__#1__

In [55]:
def disemvowel(string):
    return ''.join(filter(lambda c: c.lower() not in set('aoieu'), string))

print(disemvowel("This website is for losers LOL!"),
                              "Ths wbst s fr lsrs LL!")

Ths wbst s fr lsrs LL! Ths wbst s fr lsrs LL!

In [57]:
set('ab')

{'a', 'b'}

In [58]:
{'asdd'}

{'asdd'}

__#2__

In [59]:
def disemvowel(string):
    return ''.join(c for c in string if c.lower() not in set('aoieu'))

print(disemvowel("This website is for losers LOL!"),
                              "Ths wbst s fr lsrs LL!")

Ths wbst s fr lsrs LL! Ths wbst s fr lsrs LL!

__Other users' solutions:__

__#1__

In [70]:
def disemvowel(s):
    table = str.maketrans(dict.fromkeys("aeiouyAEIOU")) # or uncomment the next line
    # table = str.maketrans({key: None for key in "aeiouAEIOU"})
    return s.translate(table)

print(disemvowel("This website is for losers LOL!"),
                              "Ths wbst s fr lsrs LL!")

This website is for losers LOL! Ths wbst s fr lsrs LL!

In [61]:
help(str.translate)

Help on method_descriptor:

translate(self, table, /)
    Replace each character in the string using the given translation table.

      table
        Translation table, which must be a mapping of Unicode ordinals to
        Unicode ordinals, strings, or None.

    The table must implement lookup/indexing via __getitem__, for instance a
    dictionary or list.  If this operation raises LookupError, the character is
    left untouched.  Characters mapped to None are deleted.

In [68]:
dict.fromkeys("aeiouyAEIOU")

{'a': None,
 'e': None,
 'i': None,
 'o': None,
 'u': None,
 'y': None,
 'A': None,
 'E': None,
 'I': None,
 'O': None,
 'U': None}

In [69]:
dict.fromkeys("aeiouyAEIOU", '1')

{'a': '1',
 'e': '1',
 'i': '1',
 'o': '1',
 'u': '1',
 'y': '1',
 'A': '1',
 'E': '1',
 'I': '1',
 'O': '1',
 'U': '1'}

Method str.translate() dosn't work this way:

In [71]:
s = 'fdadohthj,srrtwefbmaa'
print(s.translate(dict.fromkeys("aeiouyAEIOU")))

fdadohthj,srrtwefbmaa

In [72]:
help(str.maketrans)

Help on built-in function maketrans:

maketrans(x, y=None, z=None, /)
    Return a translation table usable for str.translate().

    If there is only one argument, it must be a dictionary mapping Unicode
    ordinals (integers) or characters to Unicode ordinals, strings or None.
    Character keys will be then converted to ordinals.
    If there are two arguments, they must be strings of equal length, and
    in the resulting dictionary, each character in x will be mapped to the
    character at the same position in y. If there is a third argument, it
    must be a string, whose characters will be mapped to None in the result.

__#2__

In [ ]:
import re
def disemvowel(string):
    return re.sub('[aeiou]', '', string, flags = re.IGNORECASE)

20201119

### Sum of two lowest positive integers
https://www.codewars.com/kata/558fc85d8fd1938afb000014  
7 kyu

Create a function that returns the sum of the two lowest positive numbers given an array of minimum 4 positive integers. No floats or non-positive integers will be passed.

For example, when an array is passed like [19, 5, 42, 2, 77], the output should be 7.

[10, 343445353, 3453445, 3453545353453] should return 3453455.

__My solution:__

In [76]:
def sum_two_smallest_numbers(numbers):
    min1, min2 = float('inf'), float('inf')
    for n in numbers:
        if n < min2:
            if n < min1:
                min2, min1 = min1, n
            else:
                min2 = n
    return min1 + min2

print(sum_two_smallest_numbers([5, 8, 12, 18, 22, 5]), 10)
print(sum_two_smallest_numbers([5, 8, 12, 18, 22]), 13)
print(sum_two_smallest_numbers([7, 15, 12, 18, 22]), 19)
print(sum_two_smallest_numbers([25, 42, 12, 18, 22]), 30)

10 10
13 13
19 19
30 30

__My attempts__ 

Doesn't work for some TC:

In [78]:
def sum_two_smallest_numbers(numbers):
    min1 = min(numbers)
    return min((n for n in numbers if n != min1)) + min1

print(sum_two_smallest_numbers([5, 8, 12, 18, 22, 5]), 10)
print(sum_two_smallest_numbers([5, 8, 12, 18, 22]), 13)
print(sum_two_smallest_numbers([7, 15, 12, 18, 22]), 19)
print(sum_two_smallest_numbers([25, 42, 12, 18, 22]), 30)

13 10
13 13
19 19
30 30

20201120

### Number of trailing zeros of N!
https://www.codewars.com/kata/52f787eb172a8b4ae1000a34  
5 kyu (IMHO, it's quite hard for 5 kyu)

Write a program that will calculate the number of trailing zeros in a factorial of a given number.

N! = 1 * 2 * 3 * ... * N

Be careful 1000! has 2568 digits...

For more info, see: http://mathworld.wolfram.com/Factorial.html

Examples

zeros(6) = 1 # 6! = 1 * 2 * 3 * 4 * 5 * 6 = 720 --> 1 trailing zero

zeros(12) = 2 # 12! = 479001600 --> 2 trailing zeros

Hint: You're not meant to calculate the factorial. Find another way to find the number of zeros.

__My solution:__

In [81]:
def zeros(n):
    zeros, div = 0, 1
    while True:
        div *= 5
        q = n // div
        zeros += q
        if q == 0:
            break
    return zeros
    

print(zeros(0), 0, "Testing with n = 0")
print(zeros(6), 1, "Testing with n = 6")
print(zeros(30), 7, "Testing with n = 30")

0 0 Testing with n = 0
1 1 Testing with n = 6
7 7 Testing with n = 30

In [79]:
1 // 2

0

__Other users' solutions:__

__#1__

In [83]:
def zeros(n):
    x = n // 5
    return x + zeros(x) if x else 0


print(zeros(0), 0, "Testing with n = 0")
print(zeros(6), 1, "Testing with n = 6")
print(zeros(30), 7, "Testing with n = 30")

0 0 Testing with n = 0
1 1 Testing with n = 6
7 7 Testing with n = 30

__#2__

In [84]:
def zeros(n):
    """
    No factorial is going to have fewer zeros than the factorial of a smaller
    number.

    Each multiple of 5 adds a 0, so first we count how many multiples of 5 are
    smaller than `n` (`n // 5`).

    Each multiple of 25 adds two 0's, so next we add another 0 for each multiple
    of 25 smaller than n.

    We continue on for all powers of 5 smaller than (or equal to) n.
    """
    pow_of_5 = 5
    zeros = 0
    
    while n >= pow_of_5:
        zeros += n // pow_of_5
        pow_of_5 *= 5
        
    return zeros

__#3__ IMHO, it's the most mathematic solution

In [96]:
from math import log

def zeros(n):
    return sum(n // (5 ** i) for i in range(1, int(log(n, 5) + 1))) if n > 0 else 0


print(zeros(0), 0, "Testing with n = 0")
print(zeros(6), 1, "Testing with n = 6")
print(zeros(30), 7, "Testing with n = 30")

0 0 Testing with n = 0
1 1 Testing with n = 6
7 7 Testing with n = 30

In [91]:
from math import log

print(log(10, 5))
print(log(30, 5))
print(log(1000, 5))

1.4306765580733933
2.1132827525593787
4.29202967422018

### Count characters in your string
https://www.codewars.com/kata/52efefcbcdf57161d4000091  
6 kyu (IMHO, it's way too easy for 6 kyu)

The main idea is to count all the occurring characters in a string. If you have a string like aba, then the result should be {'a': 2, 'b': 1}.

What if the string is empty? Then the result should be empty object literal, {}.

__My solution:__

In [99]:
from collections import Counter

def count(string):
    return dict(Counter(string))


print(count('aba'), {'a': 2, 'b': 1})
print(count(''), {})

{'a': 2, 'b': 1} {'a': 2, 'b': 1}
{} {}

In [101]:
type(Counter('fdfd'))

collections.Counter

In [102]:
Counter('')

Counter()

__Other users' solutions:__

__#1__

In [103]:
from collections import Counter

def count(string):
    return Counter(string)


print(count('aba'), {'a': 2, 'b': 1})
print(count(''), {})

Counter({'a': 2, 'b': 1}) {'a': 2, 'b': 1}
Counter() {}

__#2__

In [104]:
from collections import Counter as count

print(count('aba'), {'a': 2, 'b': 1})
print(count(''), {})

Counter({'a': 2, 'b': 1}) {'a': 2, 'b': 1}
Counter() {}

In [106]:
Counter() == {}

True

In [107]:
Counter({'a': 2, 'b': 1}) == {'a': 2, 'b': 1}

True

In [111]:
c = Counter({'a': 2, 'b': 1})
c.popitem()

('b', 1)

In [110]:
d = {'a': 2, 'b': 1}
d.popitem()

('b', 1)

In [112]:
help(dict.popitem)

Help on method_descriptor:

popitem(...)
    D.popitem() -> (k, v), remove and return some (key, value) pair as a
    2-tuple; but raise KeyError if D is empty.

20201121

### Counting sheep...
https://www.codewars.com/kata/54edbc7200b811e956000556  
8 kyu

Consider an array/list of sheep where some sheep may be missing from their place. We need a function that counts the number of sheep present in the array (true means present).

For example,

[True,  True,  True,  False,
  True,  True,  True,  True ,
  True,  False, True,  False,
  True,  False, False, True ,
  True,  True,  True,  True ,
  False, False, True,  True]
  
The correct answer would be 17.

Hint: Don't forget to check for bad values like null/undefined

__My solution:__

In [113]:
def count_sheeps(sheep):
    return sheep.count(True)


array1 = [True,  True,  True,  False,
          True,  True,  True,  True ,
          True,  False, True,  False,
          True,  False, False, True ,
          True,  True,  True,  True ,
          False, False, True,  True ];
              
print(count_sheeps(array1), 17, "There are 17 sheeps in total, not %s" % count_sheeps(array1))

17 17 There are 17 sheeps in total, not 17

20201122

### Calculate average
https://www.codewars.com/kata/57a2013acf1fa5bfc4000921  
8 kyu

Write function avg which calculates average of numbers in given list.

__My solution:__

In [115]:
def find_average(ls):
    return sum(ls) / len(ls) if ls else None


print(find_average([1, 2, 3]), 2)

2.0 2

__Other users' solutions:__

In [ ]:
def find_average(array):
    if not array:
        return 0

    class SafeFloat(object):
        def __init__(self, val):
            super(SafeFloat, self).__init__()
            self.val = val

        def __eq__(self, float_val):
            # let me fix your comparisons..
            def isclose(a, b):
                return abs(a - b) < 0.00000001
            return isclose(self.val, float_val)

        def __str__(self):
            return str(self.val)

    from numpy import mean
    return SafeFloat(mean(array))

20201123

### Sum of all the multiples of 3 or 5
https://www.codewars.com/kata/57f36495c0bb25ecf50000e7  
7 kyu

Your task is to write function findSum.

Upto and including n, this function will return the sum of all multiples of 3 and 5.

For example:

findSum(5) should return 8 (3 + 5)

findSum(10) should return 33 (3 + 5 + 6 + 9 + 10)

__My solution:__

In [121]:
def find(N):
    # Sum of arithmetic progression:
    # S = (a1 + an) * n / 2 == (2 * a1 + (n - 1) * d) * n / 2
    # If a1 == d then S = a1 * n * (n + 1) / 2
    S3 = 3 * (N // 3) * (N // 3 + 1)
    S5 = 5 * (N // 5) * (N // 5 + 1)
    S15 = 15 * (N // 15) * (N // 15 + 1)
    return (S3 + S5 - S15) // 2
    

print(find(5), 8)
print(find(10), 33)

8 8
33 33

In [118]:
5 // 3

1

__Other users' solutions:__

__#1__

In [ ]:
def find(n):
    return sum(e for e in range(1, n + 1) if e % 3 == 0 or e % 5 == 0)

__#2__

In [ ]:
def find(n):
    return sum([el for el in range(3,n+1,3) if el %5 != 0])+sum(range(5, n + 1, 5))

__#3__

In [122]:
def find(n):
    return sum(set(range(0, n + 1, 3)) | set(range(0, n + 1, 5)))

__#4__

In [ ]:
def find(n):
    return sum(range(0, n + 1, 3)) + sum(range(0, n + 1, 5)) - sum(range(0, n + 1, 15))

### Next bigger number with the same digits
https://www.codewars.com/kata/55983863da40caa2c900004e  
4 kyu (IMHO, it's too easy for this kyu)

Create a function that takes a positive integer and returns the next bigger number that can be formed by rearranging its digits. For example:

12 ==> 21  
513 ==> 531  
2017 ==> 2071  
nextBigger(num: 12)   // returns 21  
nextBigger(num: 513)  // returns 531  
nextBigger(num: 2017) // returns 2071  

If the digits can't be rearranged to form a bigger number, return -1 (or nil in Swift):

9 ==> -1  
111 ==> -1  
531 ==> -1  
nextBigger(num: 9)   // returns nil  
nextBigger(num: 111) // returns nil  
nextBigger(num: 531) // returns nil

__My soluion:__

In [ ]:
# Ver.5
def next_bigger(n):
    n = [int(d) for d in str(n)]
    n_end = []

    for i in range(len(n) - 1, -1, -1):
        m = min((d for d in n_end if d > n[i]), default=None)
        n_end.append(n[i])
        if m:
            n[i] = m
            n_end.remove(m)
            return int(''.join(map(str, n[: i + 1] + sorted(n_end))))
    return -1    


print(next_bigger(12), 21)
print(next_bigger(513), 531)
print(next_bigger(2017), 2071)
print(next_bigger(414), 441)
print(next_bigger(144), 414)
print(next_bigger(62), -1)
print(next_bigger(241171374580), 241171374805)

__My unsuccessful attempts:__

__#1__ Execution Timed Out

In [142]:
# Ver.1. Execution Timed Out
from itertools import permutations

def next_bigger(n):
    return min(filter(lambda a: a > n, (int(''.join(p)) for p in permutations(str(n), len(str(n))))), default=None)
    

print(next_bigger(12), 21)
print(next_bigger(513), 531)
print(next_bigger(2017), 2071)
print(next_bigger(414), 441)
print(next_bigger(144), 414)

21 21
531 531
2071 2071
441 441
414 414

In [134]:
from itertools import permutations

list(permutations('231', 3))

[('2', '3', '1'),
 ('2', '1', '3'),
 ('3', '2', '1'),
 ('3', '1', '2'),
 ('1', '2', '3'),
 ('1', '3', '2')]

Almost the same (more readable):

In [149]:
# Ver.1. Execution Timed Out
from itertools import permutations

def next_bigger(n):
    res = float('inf')
    for p in permutations(str(n)):
        num = int(''.join(p))
        if num > n and num < res:
            res = num        
    return res if res != float('inf') else None

print(next_bigger(12), 21)
print(next_bigger(513), 531)
print(next_bigger(2017), 2071)
print(next_bigger(414), 441)
print(next_bigger(144), 414)

21 21
531 531
2071 2071
441 441
414 414

__#2__ Almost the same, just added a set:

In [154]:
# Ver.2. Execution Timed Out
from itertools import permutations

def next_bigger(n):
    res = float('inf')
    for p in set(permutations(str(n))):
        num = int(''.join(p))
        if num > n and num < res:
            res = num        
    return res if res != float('inf') else None

print(next_bigger(12), 21)
print(next_bigger(513), 531)
print(next_bigger(2017), 2071)
print(next_bigger(414), 441)
print(next_bigger(144), 414)

21 21
531 531
2071 2071
441 441
414 414

In [156]:
# Ver.3. Execution Timed Out
from itertools import permutations

def next_bigger(n):
    res = float('inf')
    l = len(str(n))
    for p in set(permutations([int(d) for d in str(n)])):
        num = sum(d * 10 ** (l - pos) for pos, d in enumerate(p, 1))
        if num > n and num < res:
            res = num        
    return res if res != float('inf') else None

print(next_bigger(12), 21)
print(next_bigger(513), 531)
print(next_bigger(2017), 2071)
print(next_bigger(414), 441)
print(next_bigger(144), 414)

21 21
531 531
2071 2071
441 441
414 414

In [148]:
list(permutations([1, 2, 2]))

[(1, 2, 2), (1, 2, 2), (2, 1, 2), (2, 2, 1), (2, 1, 2), (2, 2, 1)]

In [151]:
n = 513
[int(d) for d in str(n)]

[5, 1, 3]

In [162]:
# Ver.4. Doesn't work right: get the initial num
def next_bigger(n):
    n_ls = [int(d) for d in str(n)]
    n_ls_full = n_ls.copy()
    res = []
    any_min = False
    for cur in n_ls_full:
        a = min(((d, i) for i, d in enumerate(n_ls) if not any_min and d >= cur), default=None)
        if a:
            res.append(a[0])  # d
            n_ls.pop(a[1])    # i
        else:
            return None
        if any(n_ls_full[i] == res[i] for i in range(len(res))):
            any_min = False
        else:
            any_min = True
    return res


print(next_bigger(12), 21)
print(next_bigger(513), 531)
print(next_bigger(2017), 2071)
print(next_bigger(414), 441)
print(next_bigger(144), 414)

[1, 2] 21
[5, 1, 3] 531
[2, 0, 1, 7] 2071
[4, 1, 4] 441
[1, 4, 4] 414

In [157]:
min((1, 0), (0, 1), (0, 2), (2, 3))

(0, 1)

In [158]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [159]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [194]:
# Ver.5
def next_bigger(n):
    n = [int(d) for d in str(n)]
    n_end = []

    for i in range(len(n) - 1, -1, -1):
        a = min(((d, j) for j, d in enumerate(n_end) if d > n[i]), default=None)
        if a:
            temp = n[i]
            n[i] = a[0]
            n_end.pop(a[1])
            n_end.append(temp)
            break
        else:
            n_end.append(n[i])
    else:
        return -1
    
    return int(''.join(map(str, n[: i + 1] + sorted(n_end))))


print(next_bigger(12), 21)
print(next_bigger(513), 531)
print(next_bigger(2017), 2071)
print(next_bigger(414), 441)
print(next_bigger(144), 414)
print(next_bigger(62), -1)
print(next_bigger(241171374580), 241171374805)

21 21
531 531
2071 2071
441 441
414 414
-1 -1
241171374805 241171374805

Almost the same. May be a little longer but more readable:

In [193]:
# Ver.5
def next_bigger(n):
    n = [int(d) for d in str(n)]
    n_end = []

    for i in range(len(n) - 1, -1, -1):
        m = min((d for d in n_end if d > n[i]), default=None)
        n_end.append(n[i])
        if m:
            n[i] = m
            n_end.remove(m)
            break
    else:
        return -1
    
    return int(''.join(map(str, n[: i + 1] + sorted(n_end))))


print(next_bigger(12), 21)
print(next_bigger(513), 531)
print(next_bigger(2017), 2071)
print(next_bigger(414), 441)
print(next_bigger(144), 414)
print(next_bigger(62), -1)
print(next_bigger(241171374580), 241171374805)

21 21
531 531
2071 2071
441 441
414 414
-1 -1
241171374805 241171374805

__Other users' solutions:__

__#1__

In [195]:
def next_bigger(n):
    s = list(str(n))
    for i in range(len(s)-2,-1,-1):
        if s[i] < s[i+1]:
            t = s[i:]
            m = min(filter(lambda x: x>t[0], t))
            t.remove(m)
            t.sort()
            s[i:] = [m] + t
            return int("".join(s))
    return -1


print(next_bigger(12), 21)
print(next_bigger(513), 531)
print(next_bigger(2017), 2071)
print(next_bigger(414), 441)
print(next_bigger(144), 414)
print(next_bigger(62), -1)
print(next_bigger(241171374580), 241171374805)

21 21
531 531
2071 2071
441 441
414 414
-1 -1
241171374805 241171374805

__#2__

In [ ]:
def next_bigger(n):
    # algorithm: go backwards through the digits
    # when we find one that's lower than any of those behind it,
    # replace it with the lowest digit behind that's still higher than it
    # sort the remaining ones ascending and add them to the end
    digits = list(str(n))
    for pos, d in reversed(tuple(enumerate(digits))):
        right_side = digits[pos:]
        if d < max(right_side):
            # find lowest digit to the right that's still higher than d
            first_d, first_pos = min((v, p) for p, v in enumerate(right_side) if v > d)

            del right_side[first_pos]
            digits[pos:] = [first_d] + sorted(right_side)

            return int(''.join(digits))

    return -1

20201125

### Break camelCase
https://www.codewars.com/kata/5208f99aee097e6552000148  
6 kyu

Complete the solution so that the function will break up camel casing, using a space between words.

Example  
solution("camelCasing")  ==  "camel Casing"

__My solution:__

__#1__

In [208]:
import re

def solution(s):
    res, start = '', 0
    for i in range(len(s)):
        if s[i].isupper():
            part = s[start: i]
            if part:
                res += part + ' '
            start = i
    res += s[start:]
    return res


print(solution("helloWorld"), "hello World")
print(solution("helloWWorld"), "hello W World")
print(solution("ПриветМИр"), "Привет М Ир")
print(solution("HelloWWorld"), "Hello W World")
print(solution("camelCase"), "camel Case")
print(solution("breakCamelCase"), "break Camel Case")

hello World hello World
hello W World hello W World
Привет М Ир hello W World
Hello W World Hello W World
camel Case camel Case
break Camel Case break Camel Case

In [201]:
help(str.isupper)

Help on method_descriptor:

isupper(self, /)
    Return True if the string is an uppercase string, False otherwise.

    A string is uppercase if all cased characters in the string are uppercase and
    there is at least one cased character in the string.

__#2__ Only limited set of characters:

In [212]:
import re

def solution(s):
    return ' '.join(filter(lambda s: s, (re.findall(r'[A-ZА-Я]?[a-zа-я]*', s))))


print(solution("helloWorld"), "hello World")
print(solution("helloWWorld"), "hello W World")
print(solution("ПриветМИр"), "Привет М Ир")
print(solution("ПриветМИworld"), "Привет М Иworld")
print(solution("HelloWWorld"), "Hello W World")
print(solution("camelCase"), "camel Case")
print(solution("breakCamelCase"), "break Camel Case")

hello World hello World
hello W World hello W World
Привет М Ир Привет М Ир
Привет М Иworld Привет М Иworld
Hello W World Hello W World
camel Case camel Case
break Camel Case break Camel Case

__My unsuccessful attempts:__

In [196]:
import re

def solution(s):
    return ' '.join(re.split(r'[A-Z]{1}', s))


print(solution("helloWorld"), "hello World")
print(solution("camelCase"), "camel Case")
print(solution("breakCamelCase"), "break Camel Case")

hello orld hello World
camel ase camel Case
break amel ase break Camel Case

20201126

### Odd or Even?
https://www.codewars.com/kata/5949481f86420f59480000e7  
7 kyu

Given a list of numbers, determine whether the sum of its elements is odd or even.

Give your answer as a string matching "odd" or "even".

If the input array is empty consider it as: [0] (array with a zero).

Example:  
odd_or_even([0])          ==  "even"  
odd_or_even([0, 1, 4])    ==  "odd"  
odd_or_even([0, -1, -5])  ==  "even"

__My solutions:__

__#1__

In [213]:
def odd_or_even(arr):
    return 'odd' if sum(arr) % 2 else 'even'

print(odd_or_even([0, 1, 2]), "odd")
print(odd_or_even([0, 1, 3]), "even")
print(odd_or_even([1023, 1, 2]), "even")

odd odd
even even
even even

__#2__

In [214]:
def odd_or_even(arr):
    return 'odd' if sum(arr) & 1 else 'even'

print(odd_or_even([0, 1, 2]), "odd")
print(odd_or_even([0, 1, 3]), "even")
print(odd_or_even([1023, 1, 2]), "even")

odd odd
even even
even even

__#3__

In [215]:
def odd_or_even(arr):
    return 'odd' if sum(n & 1 for n in arr) & 1 else 'even'

print(odd_or_even([0, 1, 2]), "odd")
print(odd_or_even([0, 1, 3]), "even")
print(odd_or_even([1023, 1, 2]), "even")

odd odd
even even
even even

### Area of a Square
https://www.codewars.com/kata/5748838ce2fab90b86001b1a   
8 kyu

Complete the function that calculates the area of the red square, when the length of the circular arc A is given as the input. Return the result rounded to two decimals.

Graph

Note: use the π value provided in your language (Math::PI, M_PI, math.pi, etc)

__My solution:__

In [217]:
from math import pi

def square_area(A):
    return round((2 * A / pi) ** 2, 2)
    
print(square_area(2), 1.62)
print(square_area(0), 0)
print(square_area(14.05), 80)
print(square_area(1), 0.41)
print(square_area(100), 4052.85)

1.62 1.62
0.0 0
80.0 80
0.41 0.41
4052.85 4052.85

### Expressions Matter
https://www.codewars.com/kata/5ae62fcf252e66d44d00008e  
8 kyu

Given three integers a ,b ,c, return the largest number obtained after inserting the following operators and brackets: +, *, ()
In other words , try every combination of a,b,c with [*+()] , and return the Maximum Obtained

Consider an Example:  
With the numbers are 1, 2 and 3 , here are some ways of placing signs and brackets:  

1 * (2 + 3) = 5  
1 * 2 * 3 = 6  
1 + 2 * 3 = 7  
(1 + 2) * 3 = 9  
So the maximum value that you can obtain is 9.

Notes  
The numbers are always positive.  
The numbers are in the range (1  ≤  a, b, c  ≤  10).  
You can use the same operation more than once.  
It's not necessary to place all the signs and brackets.  
Repetition in numbers may occur.
You cannot swap the operands. For instance, in the given example you cannot get expression (1 + 3) * 2 = 8.  

Input >> Output Examples:  
expressionsMatter(1,2,3)  ==>  return 9  
Explanation:  
After placing signs and brackets, the Maximum value obtained from the expression (1+2) * 3 = 9.

__My solution:__

In [223]:
def expression_matter(a, b, c):
    funcs = []
    funcs.append(lambda x, y, z: x + y + z)
    funcs.append(lambda x, y, z: x * y * z)
    funcs.append(lambda x, y, z: (x + y) * z)
    funcs.append(lambda x, y, z: x + y * z)
    funcs.append(lambda x, y, z: x * (y + z))
    funcs.append(lambda x, y, z: x * (y + z))
    funcs.append(lambda x, y, z: x * y + z)
    return max(f(a, b, c) for f in funcs)


print(expression_matter(2, 1, 2), 6)
print(expression_matter(2, 1, 1), 4)
print(expression_matter(1, 1, 1), 3)
print(expression_matter(1, 2, 3), 9)
print(expression_matter(1, 3, 1), 5)
print(expression_matter(2, 2, 2), 8)


print(expression_matter(5, 1, 3), 20)
print(expression_matter(3, 5, 7), 105)
print(expression_matter(5, 6, 1), 35)
print(expression_matter(1, 6, 1), 8)
print(expression_matter(2, 6, 1), 14)
print(expression_matter(6, 7, 1), 48)


print(expression_matter(2, 10, 3), 60)
print(expression_matter(1, 8, 3), 27)
print(expression_matter(9, 7, 2), 126)
print(expression_matter(1, 1, 10), 20)
print(expression_matter(9, 1, 1), 18)
print(expression_matter(10, 5, 6), 300)
print(expression_matter(1, 10, 1), 12)

6 6
4 4
3 3
9 9
5 5
8 8
20 20
105 105
35 35
8 8
14 14
48 48
60 60
27 27
126 126
20 20
18 18
300 300
12 12

20201127

### Meeting
https://www.codewars.com/kata/59df2f8f08c6cec835000012  
6 kyu

John has invited some friends. His list is:

s = "Fred:Corwill;Wilfred:Corwill;Barney:Tornbull;Betty:Tornbull;Bjon:Tornbull;Raphael:Corwill;Alfred:Corwill";

Could you make a program that

- makes this string uppercase  
- gives it sorted in alphabetical order by last name.  When the last names are the same, sort them by first name.
- Last name and first name of a guest come in the result between parentheses separated by a comma.

So the result of function meeting(s) will be:

"(CORWILL, ALFRED)(CORWILL, FRED)(CORWILL, RAPHAEL)(CORWILL, WILFRED)(TORNBULL, BARNEY)(TORNBULL, BETTY)(TORNBULL, BJON)"

It can happen that in two distinct families with the same family name two people have the same first name too.

__My solution:__

In [244]:
from operator import itemgetter

def meeting(s):
    return '(' + ')('.join(map(', '.join, sorted((n.split(':')[::-1] for n in s.upper().split(';')), key=itemgetter(0, 1)))) + ')'

def testing(s, exp):
    ans = meeting(s)
    print(ans, exp, sep='\n')

def tests():
    testing("Alexis:Wahl;John:Bell;Victoria:Schwarz;Abba:Dorny;Grace:Meta;Ann:Arno;Madison:STAN;Alex:Cornwell;Lewis:Kern;Megan:Stan;Alex:Korn", 
            "(ARNO, ANN)(BELL, JOHN)(CORNWELL, ALEX)(DORNY, ABBA)(KERN, LEWIS)(KORN, ALEX)(META, GRACE)(SCHWARZ, VICTORIA)(STAN, MADISON)(STAN, MEGAN)(WAHL, ALEXIS)")
    testing("John:Gates;Michael:Wahl;Megan:Bell;Paul:Dorries;James:Dorny;Lewis:Steve;Alex:Meta;Elizabeth:Russel;Anna:Korn;Ann:Kern;Amber:Cornwell", 
        "(BELL, MEGAN)(CORNWELL, AMBER)(DORNY, JAMES)(DORRIES, PAUL)(GATES, JOHN)(KERN, ANN)(KORN, ANNA)(META, ALEX)(RUSSEL, ELIZABETH)(STEVE, LEWIS)(WAHL, MICHAEL)")
    testing("Alex:Arno;Alissa:Cornwell;Sarah:Bell;Andrew:Dorries;Ann:Kern;Haley:Arno;Paul:Dorny;Madison:Kern", 
        "(ARNO, ALEX)(ARNO, HALEY)(BELL, SARAH)(CORNWELL, ALISSA)(DORNY, PAUL)(DORRIES, ANDREW)(KERN, ANN)(KERN, MADISON)")

tests()

(ARNO, ANN)(BELL, JOHN)(CORNWELL, ALEX)(DORNY, ABBA)(KERN, LEWIS)(KORN, ALEX)(META, GRACE)(SCHWARZ, VICTORIA)(STAN, MADISON)(STAN, MEGAN)(WAHL, ALEXIS)
(ARNO, ANN)(BELL, JOHN)(CORNWELL, ALEX)(DORNY, ABBA)(KERN, LEWIS)(KORN, ALEX)(META, GRACE)(SCHWARZ, VICTORIA)(STAN, MADISON)(STAN, MEGAN)(WAHL, ALEXIS)
(BELL, MEGAN)(CORNWELL, AMBER)(DORNY, JAMES)(DORRIES, PAUL)(GATES, JOHN)(KERN, ANN)(KORN, ANNA)(META, ALEX)(RUSSEL, ELIZABETH)(STEVE, LEWIS)(WAHL, MICHAEL)
(BELL, MEGAN)(CORNWELL, AMBER)(DORNY, JAMES)(DORRIES, PAUL)(GATES, JOHN)(KERN, ANN)(KORN, ANNA)(META, ALEX)(RUSSEL, ELIZABETH)(STEVE, LEWIS)(WAHL, MICHAEL)
(ARNO, ALEX)(ARNO, HALEY)(BELL, SARAH)(CORNWELL, ALISSA)(DORNY, PAUL)(DORRIES, ANDREW)(KERN, ANN)(KERN, MADISON)
(ARNO, ALEX)(ARNO, HALEY)(BELL, SARAH)(CORNWELL, ALISSA)(DORNY, PAUL)(DORRIES, ANDREW)(KERN, ANN)(KERN, MADISON)

In [243]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

Almost the same:

In [253]:
from operator import itemgetter

def meeting(s):
    names = []
    for name in s.upper().split(';'):
        names.append(name.split(':'))    
    return ''.join(map(lambda n: f'({n[1]}, {n[0]})', sorted(names, key=itemgetter(1, 0))))      


def testing(s, exp):
    ans = meeting(s)
    print(ans, exp, sep='\n')

def tests():
    testing("Alexis:Wahl;John:Bell;Victoria:Schwarz;Abba:Dorny;Grace:Meta;Ann:Arno;Madison:STAN;Alex:Cornwell;Lewis:Kern;Megan:Stan;Alex:Korn", 
            "(ARNO, ANN)(BELL, JOHN)(CORNWELL, ALEX)(DORNY, ABBA)(KERN, LEWIS)(KORN, ALEX)(META, GRACE)(SCHWARZ, VICTORIA)(STAN, MADISON)(STAN, MEGAN)(WAHL, ALEXIS)")
    testing("John:Gates;Michael:Wahl;Megan:Bell;Paul:Dorries;James:Dorny;Lewis:Steve;Alex:Meta;Elizabeth:Russel;Anna:Korn;Ann:Kern;Amber:Cornwell", 
        "(BELL, MEGAN)(CORNWELL, AMBER)(DORNY, JAMES)(DORRIES, PAUL)(GATES, JOHN)(KERN, ANN)(KORN, ANNA)(META, ALEX)(RUSSEL, ELIZABETH)(STEVE, LEWIS)(WAHL, MICHAEL)")
    testing("Alex:Arno;Alissa:Cornwell;Sarah:Bell;Andrew:Dorries;Ann:Kern;Haley:Arno;Paul:Dorny;Madison:Kern", 
        "(ARNO, ALEX)(ARNO, HALEY)(BELL, SARAH)(CORNWELL, ALISSA)(DORNY, PAUL)(DORRIES, ANDREW)(KERN, ANN)(KERN, MADISON)")

tests()

(ARNO, ANN)(BELL, JOHN)(CORNWELL, ALEX)(DORNY, ABBA)(KERN, LEWIS)(KORN, ALEX)(META, GRACE)(SCHWARZ, VICTORIA)(STAN, MADISON)(STAN, MEGAN)(WAHL, ALEXIS)
(ARNO, ANN)(BELL, JOHN)(CORNWELL, ALEX)(DORNY, ABBA)(KERN, LEWIS)(KORN, ALEX)(META, GRACE)(SCHWARZ, VICTORIA)(STAN, MADISON)(STAN, MEGAN)(WAHL, ALEXIS)
(BELL, MEGAN)(CORNWELL, AMBER)(DORNY, JAMES)(DORRIES, PAUL)(GATES, JOHN)(KERN, ANN)(KORN, ANNA)(META, ALEX)(RUSSEL, ELIZABETH)(STEVE, LEWIS)(WAHL, MICHAEL)
(BELL, MEGAN)(CORNWELL, AMBER)(DORNY, JAMES)(DORRIES, PAUL)(GATES, JOHN)(KERN, ANN)(KORN, ANNA)(META, ALEX)(RUSSEL, ELIZABETH)(STEVE, LEWIS)(WAHL, MICHAEL)
(ARNO, ALEX)(ARNO, HALEY)(BELL, SARAH)(CORNWELL, ALISSA)(DORNY, PAUL)(DORRIES, ANDREW)(KERN, ANN)(KERN, MADISON)
(ARNO, ALEX)(ARNO, HALEY)(BELL, SARAH)(CORNWELL, ALISSA)(DORNY, PAUL)(DORRIES, ANDREW)(KERN, ANN)(KERN, MADISON)

__Other users' solution:__

__#1__ The Great one:

In [ ]:
def meeting(s):
    return ''.join(sorted('({1}, {0})'.format(*(x.split(':'))) for x in s.upper().split(';')))

__#2__

In [ ]:
from functools import reduce 

def meeting(s):
    people = [ i.split(":")[::-1] for i in s.upper().split(";") ]
    people.sort(key=lambda x: x[0]+" "+x[1])
    return reduce(lambda acc, x: acc+"("+x[0]+", "+x[1]+")", people, "")

__#3__ RE is not necessary here but an approach is interested:

In [ ]:
import re

def meeting(s):
    return  "".join(
                sorted(
                    re.sub("(\w+):(\w+);?", r"(\2, \1);", s.upper())
                        .split(";")
                )
            )

20201128

### Multiplication table for number
https://www.codewars.com/kata/5a2fd38b55519ed98f0000ce  
8 kyu

Your goal is to return multiplication table for number that is always an integer from 1 to 10.

For example, a multiplication table (string) for number == 5 looks like below:

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

P. S. You can use \n in string to jump to the next line.

__My solution:__

In [254]:
def multi_table(number):
    return '\n'.join(f'{i} * {number} = {i * number}' for i in range(1, 11))

print(multi_table(5), '1 * 5 = 5\n2 * 5 = 10\n3 * 5 = 15\n4 * 5 = 20\n5 * 5 = 25\n6 * 5 = 30\n7 * 5 = 35\n8 * 5 = 40\n9 * 5 = 45\n10 * 5 = 50')
print(multi_table(1), '1 * 1 = 1\n2 * 1 = 2\n3 * 1 = 3\n4 * 1 = 4\n5 * 1 = 5\n6 * 1 = 6\n7 * 1 = 7\n8 * 1 = 8\n9 * 1 = 9\n10 * 1 = 10')

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50 1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10 1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10

In [258]:
complex('-4')

(-4+0j)

In [259]:
help(str.casefold)

Help on method_descriptor:

casefold(self, /)
    Return a version of the string suitable for caseless comparisons.

20201129

### altERnaTIng cAsE <=> ALTerNAtiNG CaSe
https://www.codewars.com/kata/56efc695740d30f963000557  
8 kyu

Define String.prototype.toAlternatingCase (or a similar function/method such as to_alternating_case/toAlternatingCase/ToAlternatingCase in your selected language; see the initial solution for details) such that each lowercase letter becomes uppercase and each uppercase letter becomes lowercase. For example:

"hello world".toAlternatingCase() === "HELLO WORLD"  
"HELLO WORLD".toAlternatingCase() === "hello world"  
"hello WORLD".toAlternatingCase() === "HELLO world"  
"HeLLo WoRLD".toAlternatingCase() === "hEllO wOrld"  
"12345".toAlternatingCase() === "12345" // Non-alphabetical characters are unaffected  
"1a2b3c4d5e".toAlternatingCase() === "1A2B3C4D5E"  
"String.prototype.toAlternatingCase".toAlternatingCase() === "sTRING.PROTOTYPE.TOaLTERNATINGcASE"  

As usual, your function/method should be pure, i.e. it should not mutate the original string.

__My solution:__

In [262]:
def to_alternating_case(string):
    return string.swapcase()


print(to_alternating_case("hello world"), "HELLO WORLD")
print(to_alternating_case("HELLO WORLD"), "hello world")
print(to_alternating_case("hello WORLD"), "HELLO world")
print(to_alternating_case("HeLLo WoRLD"), "hEllO wOrld")
print(to_alternating_case("12345"), "12345")
print(to_alternating_case("1a2b3c4d5e"), "1A2B3C4D5E")
print(to_alternating_case("String.prototype.toAlternatingCase"), "sTRING.PROTOTYPE.TOaLTERNATINGcASE")
print(to_alternating_case(to_alternating_case("Hello World")), "Hello World")

HELLO WORLD HELLO WORLD
hello world hello world
HELLO world HELLO world
hEllO wOrld hEllO wOrld
12345 12345
1A2B3C4D5E 1A2B3C4D5E
sTRING.PROTOTYPE.TOaLTERNATINGcASE sTRING.PROTOTYPE.TOaLTERNATINGcASE
Hello World Hello World

In [260]:
'dfgHGFD'.casefold()

'dfghgfd'

In [261]:
help(str.swapcase)

Help on method_descriptor:

swapcase(self, /)
    Convert uppercase characters to lowercase and lowercase characters to uppercase.

__Other users' solutions:__

__#1__

In [ ]:
to_alternating_case = str.swapcase

__#2__

In [ ]:
from string import swapcase as to_alternating_case

### Descending Order
https://www.codewars.com/kata/5467e4d82edf8bbf40000155  
7 kyu

Your task is to make a function that can take any non-negative integer as an argument and return it with its digits in descending order. Essentially, rearrange the digits to create the highest possible number.

Examples:

Input: 42145 Output: 54421

Input: 145263 Output: 654321

Input: 123456789 Output: 987654321

__My solution:__

In [264]:
def descending_order(num):
    return int(''.join(sorted(str(num), reverse=True)))

    
print(descending_order(0), 0)
print(descending_order(15), 51)
print(descending_order(123456789), 987654321)

0 0
51 51
987654321 987654321

### extract file name
https://www.codewars.com/kata/597770e98b4b340e5b000071  
6 kyu

You have to extract a portion of the file name as follows:

Assume it will start with date represented as long number  
Followed by an underscore  
You'll have then a filename with an extension  
it will always have an extra extension at the end  

Inputs:  

1231231223123131_FILE_NAME.EXTENSION.OTHEREXTENSION  

1_This_is_an_otherExample.mpg.OTHEREXTENSIONadasdassdassds34  

1231231223123131_myFile.tar.gz2  

Outputs

FILE_NAME.EXTENSION

This_is_an_otherExample.mpg

myFile.tar

Acceptable characters for random tests:

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ_-0123456789

The recommended way to solve it is using RegEx and specifically groups.

__My solution:__

In [280]:
import re

class FileNameExtractor:
    def extract_file_name(dirty_file_name):
        return re.search(r'\d+_([\w-]+\.[\w-]+)', dirty_file_name)[1]
        
print(FileNameExtractor.extract_file_name("1231231223123131_FILE_NAME.EXTENSION.OTHEREXTENSION"),"FILE_NAME.EXTENSION")
print(FileNameExtractor.extract_file_name("1_FILE_NAME.EXTENSION.OTHEREXTENSIONadasdassdassds34"),"FILE_NAME.EXTENSION")
print(FileNameExtractor.extract_file_name("1__FILE_NAME.EXTENSION.OTHEREXT.ENSIONadasdassdassds34"),"_FILE_NAME.EXTENSION")

FILE_NAME.EXTENSION FILE_NAME.EXTENSION
FILE_NAME.EXTENSION FILE_NAME.EXTENSION
_FILE_NAME.EXTENSION _FILE_NAME.EXTENSION

__Other users' solutions:__

__#1__ But this solution doesn't work for the my test (the last one):

In [273]:
class FileNameExtractor:
    @staticmethod
    def extract_file_name(fname):
        return fname.split('_', 1)[1].rsplit('.', 1)[0]

    
print(FileNameExtractor.extract_file_name("1231231223123131_FILE_NAME.EXTENSION.OTHEREXTENSION"),"FILE_NAME.EXTENSION")
print(FileNameExtractor.extract_file_name("1_FILE_NAME.EXTENSION.OTHEREXTENSIONadasdassdassds34"),"FILE_NAME.EXTENSION")
print(FileNameExtractor.extract_file_name("1__FILE_NAME.EXTENSION.OTHEREXT.ENSIONadasdassdassds34"),"_FILE_NAME.EXTENSION")

FILE_NAME.EXTENSION FILE_NAME.EXTENSION
FILE_NAME.EXTENSION FILE_NAME.EXTENSION
_FILE_NAME.EXTENSION.OTHEREXT FILE_NAME.EXTENSION

I've fixed it:

In [277]:
class FileNameExtractor:
    @staticmethod
    def extract_file_name(fname):
        return '.'.join(fname.split('_', 1)[1].split('.', 2)[:2])

    
print(FileNameExtractor.extract_file_name("1231231223123131_FILE_NAME.EXTENSION.OTHEREXTENSION"),"FILE_NAME.EXTENSION")
print(FileNameExtractor.extract_file_name("1_FILE_NAME.EXTENSION.OTHEREXTENSIONadasdassdassds34"),"FILE_NAME.EXTENSION")
print(FileNameExtractor.extract_file_name("1__FILE_NAME.EXTENSION.OTHEREXT.ENSIONadasdassdassds34"),"_FILE_NAME.EXTENSION")

FILE_NAME.EXTENSION FILE_NAME.EXTENSION
FILE_NAME.EXTENSION FILE_NAME.EXTENSION
_FILE_NAME.EXTENSION FILE_NAME.EXTENSION

__#2__ This solutioh has the same problem:

In [281]:
class FileNameExtractor:
    def extract_file_name(dirty_file_name):
        return dirty_file_name[dirty_file_name.find('_') + 1:dirty_file_name.rfind('.')]
    
    
print(FileNameExtractor.extract_file_name("1231231223123131_FILE_NAME.EXTENSION.OTHEREXTENSION"),"FILE_NAME.EXTENSION")
print(FileNameExtractor.extract_file_name("1_FILE_NAME.EXTENSION.OTHEREXTENSIONadasdassdassds34"),"FILE_NAME.EXTENSION")
print(FileNameExtractor.extract_file_name("1__FILE_NAME.EXTENSION.OTHEREXT.ENSIONadasdassdassds34"),"_FILE_NAME.EXTENSION")

FILE_NAME.EXTENSION FILE_NAME.EXTENSION
FILE_NAME.EXTENSION FILE_NAME.EXTENSION
_FILE_NAME.EXTENSION.OTHEREXT _FILE_NAME.EXTENSION

In [278]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

I've fixed it:

In [282]:
class FileNameExtractor:
    def extract_file_name(s):
        return s[s.find('_') + 1:s.find('.', s.find('.') + 1)]

    
print(FileNameExtractor.extract_file_name("1231231223123131_FILE_NAME.EXTENSION.OTHEREXTENSION"),"FILE_NAME.EXTENSION")
print(FileNameExtractor.extract_file_name("1_FILE_NAME.EXTENSION.OTHEREXTENSIONadasdassdassds34"),"FILE_NAME.EXTENSION")
print(FileNameExtractor.extract_file_name("1__FILE_NAME.EXTENSION.OTHEREXT.ENSIONadasdassdassds34"),"_FILE_NAME.EXTENSION")

FILE_NAME.EXTENSION FILE_NAME.EXTENSION
FILE_NAME.EXTENSION FILE_NAME.EXTENSION
_FILE_NAME.EXTENSION _FILE_NAME.EXTENSION

In [283]:
s = '154.45'
s.find('.', 10)  # If start is bigger than len(s)

-1

In [284]:
s = '154.45'
s.find('.', s.find('.'))  # funny

3

20201130

### WeIrD StRiNg CaSe
https://www.codewars.com/kata/52b757663a95b11b3d00062d  
6 kyu

Write a function toWeirdCase (weirdcase in Ruby) that accepts a string, and returns the same string with all even indexed characters in each word upper cased, and all odd indexed characters in each word lower cased. The indexing just explained is zero based, so the zero-ith index is even, therefore that character should be upper cased.

The passed in string will only consist of alphabetical characters and spaces(' '). Spaces will only be present if there are multiple words. Words will be separated by a single space(' ').

Examples:

to_weird_case('String'); # => returns 'StRiNg'  
to_weird_case('Weird string case') # => returns 'WeIrD StRiNg CaSe'

__My solution:__

In [294]:
def to_weird_case(string):
    return ' '.join(''.join([c.upper(), c.lower()][i % 2] for i, c in enumerate(w)) for w in 
                    string.split(' '))

    
print(to_weird_case('This'), 'ThIs')
print(to_weird_case('is'), 'Is')
print(to_weird_case('This is a test'), 'ThIs Is A TeSt')

ThIs ThIs
Is Is
ThIs Is A TeSt ThIs Is A TeSt

20201201

### Last digit of a large number
https://www.codewars.com/kata/5511b2f550906349a70004e1  
5 kyu

Define a function that takes in two non-negative integers a and b and returns the last decimal digit of a ** b. Note that a and b may be very large!

For example, the last decimal digit of 9 ** 7 is 9, since 9 ** 7=4782969. The last decimal digit of (2 ** 200) ** (2 ** 300), which has over 10 ** 92 decimal digits, is 6. Also, please take 0 ** 0 to be 1.

You may assume that the input will always be valid.

Examples

last_digit(4, 1)                # returns 4  
last_digit(4, 2)                # returns 6  
last_digit(9, 7)                # returns 9  
last_digit(10, 10 ** 10)        # returns 0  
last_digit(2 ** 200, 2 ** 300)  # returns 6  

Remarks JavaScript, C++, R, PureScript

Since these languages don't have native arbitrarily large integers, your arguments are going to be strings representing non-negative integers instead.

__My solution:__

In [18]:
# Ver. 2
def last_digit(n1, n2):
    if n2 == 0:
        return 1
    
    n1 = n1 % 10
    cur = n1
    ends_sequence = []
    while True:
        ends_sequence.append(cur)
        cur = cur * n1 % 10
        if cur == n1:
            break
    return ends_sequence[n2 % len(ends_sequence) - 1]


print(last_digit(0, 0), 1)
print(last_digit(1, 0), 1)
print(last_digit(4, 1), 4)
print(last_digit(4, 2), 6)
print(last_digit(9, 7), 9)
print(last_digit(19, 0), 1)
print(last_digit(19, 3), 9)
print(last_digit(10, 10 ** 10), 0)
print(last_digit(2 ** 200, 2 ** 300), 6)
print(last_digit(3715290469715693021198967285016729344580685479654510946723, 68819615221552997273737174557165657483427362207517952651), 7)

1 1
1 1
4 4
6 6
9 9
1 1
9 9
0 0
6 6
7 7

In [9]:
(2 ** 300) % 1

0

In [5]:
2 ** 200

1606938044258990275541962092341162602522202993782792835301376

In [8]:
3 ** 300

136891479058588375991326027382088315966463695625337436471480190078368997177499076593800206155688941388250484440597994042813512732765695774566001

In [16]:
3 % 2

1

__My unsuccessful attempts:__

In [2]:
# Ver.1. Execution Timed Out
def last_digit(n1, n2):
    n1 = n1 % 10
    res = 1
    for i in range(n2):
        res = res * n1 % 10
    return res


print(last_digit(4, 1), 4)
print(last_digit(4, 2), 6)
print(last_digit(9, 7), 9)
print(last_digit(19, 0), 1)
print(last_digit(19, 3), 9)
#print(last_digit(10, 10 ** 10), 0)
#print(last_digit(2 ** 200, 2 ** 300), 6)
#print(last_digit(3715290469715693021198967285016729344580685479654510946723, 68819615221552997273737174557165657483427362207517952651), 7)

4 4
6 6
9 9
1 1
9 9

### Jaden Casing Strings
https://www.codewars.com/kata/5390bac347d09b7da40006f6  
7 kyu

Jaden Smith, the son of Will Smith, is the star of films such as The Karate Kid (2010) and After Earth (2013). Jaden is also known for some of his philosophy that he delivers via Twitter. When writing on Twitter, he is known for almost always capitalizing every word. For simplicity, you'll have to capitalize each word, check out how contractions are expected to be in the example below.

Your task is to convert strings to how they would be written by Jaden Smith. The strings are actual quotes from Jaden Smith, but they are not capitalized in the same way he originally typed them.

Example:

Not Jaden-Cased: "How can mirrors be real if our eyes aren't real" 
Jaden-Cased:     "How Can Mirrors Be Real If Our Eyes Aren't Real"

__My solution:__

__#1__ Solution with simple str.title(string) isn't good with "aren't". It makes it "Aren'T".  
Although this solution passes all codewar testcases, it has the next minuses:  
1) str.capitalize() (along with str.title()) makes all remaining cased characters have lower case.  
2) It doesn't pass my  more difficult testcase (#2)

In [78]:
def to_jaden_case(string):
    return ' '.join(w.capitalize() for w in string.split())

quote = "How can mirrors be real if our eyes aren't real"
print(to_jaden_case(quote), "How Can Mirrors Be Real If Our Eyes Aren't Real")
quote = "how can mirRors,be real.if our eyes aren't real-up - but!!!that's fine...\"i'm ok\""
print(to_jaden_case(quote))

How Can Mirrors Be Real If Our Eyes Aren't Real How Can Mirrors Be Real If Our Eyes Aren't Real
How Can Mirrors,be Real.if Our Eyes Aren't Real-up - But!!!that's Fine..."i'm Ok"

__#2__ With regex (it can handle my more difficult testcase (#2)).  
The simpler template r'\b(\w)' can't handle "aren't" and "real-up".

In [88]:
import re

def to_jaden_case(string):
    return string[0:1].upper() + re.sub(r"([^'\w-])(\w)", lambda m: m[1] + m[2].upper(), string[1:])

quote = "how can mirrors be real if our eyes aren't real"
print(to_jaden_case(quote), "How Can Mirrors Be Real If Our Eyes Aren't Real", sep='\n')
quote = "how can mirRors,be reaL.if our eyes aren't real-up - but!!!that's fine...\"i'm ok\""
print(to_jaden_case(quote), sep='\n')
quote = ""
print(to_jaden_case(quote), sep='\n')

How Can Mirrors Be Real If Our Eyes Aren't Real
How Can Mirrors Be Real If Our Eyes Aren't Real
How Can MirRors,Be ReaL.If Our Eyes Aren't Real-up - But!!!That's Fine..."I'm Ok"

In [21]:
help(str.title)

Help on method_descriptor:

title(self, /)
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [22]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [23]:
"aren't".capitalize()

"Aren't"

In [24]:
"aren't".title()

"Aren'T"

In [41]:
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

In [52]:
str.lower('A')

'a'

In [75]:
str.capitalize('ffHGGnnHH')

'Ffhggnnhh'

In [76]:
str.title('ffHGGnnHH djGjiO')

'Ffhggnnhh Djgjio'

In [ ]:
help(str.)

__Other users' solutions:__

__#1__ Yeea, of course Python has that function....

In [89]:
from string import capwords as toJadenCase

quote = "how can mirrors be real if our eyes aren't real"
print(to_jaden_case(quote), "How Can Mirrors Be Real If Our Eyes Aren't Real", sep='\n')
quote = "how can mirRors,be reaL.if our eyes aren't real-up - but!!!that's fine...\"i'm ok\""
print(to_jaden_case(quote), sep='\n')
quote = ""
print(to_jaden_case(quote), sep='\n')

How Can Mirrors Be Real If Our Eyes Aren't Real
How Can Mirrors Be Real If Our Eyes Aren't Real
How Can MirRors,Be ReaL.If Our Eyes Aren't Real-up - But!!!That's Fine..."I'm Ok"

20201202

### Simple frequency sort
https://www.codewars.com/kata/5a8d2bf60025e9163c0000bc  
6 kyu

In this Kata, you will sort elements in an array by decreasing frequency of elements. If two elements have the same frequency, sort them by increasing value.

solve([2,3,5,3,7,9,5,3,7]) = [3,3,3,5,5,7,7,2,9]

--we sort by highest frequency to lowest frequency. If two elements have same frequency, we sort by increasing value
More examples in test cases.

__My solution:__

In [104]:
from collections import Counter
from operator import itemgetter
from functools import reduce

def solve(arr):
    return reduce(lambda x, y: x + ([y[0]] * y[1]), sorted(sorted(Counter(arr).items()), key=itemgetter(1), reverse=True), [])


print(solve([2,3,5,3,7,9,5,3,7]),[3,3,3,5,5,7,7,2,9])
print(solve([1,2,3,0,5,0,1,6,8,8,6,9,1]),[1,1,1,0,0,6,6,8,8,2,3,5,9])
print(solve([5,9,6,9,6,5,9,9,4,4]),[9,9,9,9,4,4,5,5,6,6])
print(solve([4,4,2,5,1,1,3,3,2,8]),[1,1,2,2,3,3,4,4,5,8])
print(solve([4,9,5,0,7,3,8,4,9,0]),[0,0,4,4,9,9,3,5,7,8])

[3, 3, 3, 5, 5, 7, 7, 2, 9] [3, 3, 3, 5, 5, 7, 7, 2, 9]
[1, 1, 1, 0, 0, 6, 6, 8, 8, 2, 3, 5, 9] [1, 1, 1, 0, 0, 6, 6, 8, 8, 2, 3, 5, 9]
[9, 9, 9, 9, 4, 4, 5, 5, 6, 6] [9, 9, 9, 9, 4, 4, 5, 5, 6, 6]
[1, 1, 2, 2, 3, 3, 4, 4, 5, 8] [1, 1, 2, 2, 3, 3, 4, 4, 5, 8]
[0, 0, 4, 4, 9, 9, 3, 5, 7, 8] [0, 0, 4, 4, 9, 9, 3, 5, 7, 8]

In [103]:
help(Counter.most_common)

Help on function most_common in module collections:

most_common(self, n=None)
    List the n most common elements and their counts from the most
    common to the least.  If n is None, then list all element counts.

    >>> Counter('abcdeabcdabcaba').most_common(3)
    [('a', 5), ('b', 4), ('c', 3)]

In [105]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

20201203

### [Code Golf] Length of Month
https://www.codewars.com/kata/5fc4e46867a010002b4b5f70  
7 kyu

Return the length of the given month in the given year.

Your code must be shorter than 90 characters.

__My solution:__

In [ ]:
from datetime import date, timedelta as td

def last_day(year, month):
    return (date(year, month % 12 + 1, 1) - td(days=1)).day


print(last_day(2020, 11), 30)
print(last_day(1945, 5), 31)
print(last_day(2000, 2), 29)
print(last_day(1900, 2), 28)

I diminished it in order to satisfy the condition of 90  characters:

In [ ]:
from datetime import date,timedelta as t

last_day=lambda y,m:(date(y,m%12+1,1)-t(1)).day

In [ ]:
help(date.day)

__Other users' solution:__

In [ ]:
from calendar import _monthlen as last_day

In [ ]:
from calendar import*
last_day=lambda y,m:monthrange(y,m)[1]

In [ ]:
last_day=lambda y,m:31-((m>7)==m%2)-(m==2)*(1+(y%4>0)-(y%100>0)+(y%400>0))

In [ ]:
last_day=lambda y,m:31-(m in [4,6,9,11]) if m!=2 else 28+((y%100 and y%4==0) or y%400==0)

20201204

### Reversed Strings
https://www.codewars.com/kata/5168bb5dfe9a00b126000018  
8 kyu

Complete the solution so that it reverses the string passed into it.

'world'  =>  'dlrow'

__My solution:__

__#1__

In [201]:
def solution(string):
    return string[::-1]


print(solution('world'), 'dlrow')
print(solution('hello'), 'olleh')
print(solution(''), '')
print(solution('h'), 'h')

dlrow dlrow
olleh olleh

h h

__#2__

In [207]:
def solution(string):
    return ''.join(reversed(string))


print(solution('world'), 'dlrow')
print(solution('hello'), 'olleh')
print(solution(''), '')
print(solution('h'), 'h')

dlrow dlrow
olleh olleh

h h

### Find Nearest Fibonacci Number
https://www.codewars.com/kata/5ca22e6b86eed5002812061e  
5 kyu

Given a positive integer (n) find the nearest fibonacci number to (n).

If there are more than one fibonacci with equal distance to the given number return the smallest one.

Do it in a efficient way. 5000 tests with the input range 1 <= n <= 2^512 should not exceed 200 ms.

__My solution:__

__My unsuccessful attempts:__

__#1__ Error results when n is big (occured by float representation in memory):

In [150]:
from math import log, pow, floor, ceil

def nearest_fibonacci(number):
    n = log(number * 5 ** 0.5, (1 + 5 ** 0.5) / 2)
    #print(n)
    f = list(map(lambda n: round(pow((1 + pow(5, 0.5)) / 2, n) / pow(5, 0.5)), [floor(n), ceil(n)]))
    #print(number, f)
    return f[1] if abs(number - f[1]) < abs(number - f[0]) else f[0]



print(nearest_fibonacci(8852191767644926839), 7540113804746346429)
# numbers = [1,2,9,17,54]
# nearest = [1,2,8,13,55]
# for i in range(len(numbers)):
#     print(nearest_fibonacci(numbers[i]), nearest[i])

92.33338293448068
8852191767644926839 [7540113804746369024, 12200160415121913856]
7540113804746369024 7540113804746346429

Almost the same and the same error:

In [181]:
from math import log, pow, floor, ceil

def nearest_fibonacci(number):
    n = log(number * 5 ** 0.5, (1 + 5 ** 0.5) / 2)
    print(n)
    f = list(map(lambda n: round(((1 + 5 ** 0.5) / 2) ** n / 5 ** 0.5), [floor(n), ceil(n)]))
    print(number, f)
    return f[1] if abs(number - f[1]) < abs(number - f[0]) else f[0]



print(nearest_fibonacci(8852191767644926839), 7540113804746346429)
# numbers = [1,2,9,17,54]
# nearest = [1,2,8,13,55]
# for i in range(len(numbers)):
#     print(nearest_fibonacci(numbers[i]), nearest[i])

92.33338293448068
8852191767644926839 [7540113804746369024, 12200160415121913856]
7540113804746369024 7540113804746346429

In [160]:
f = list(map(lambda n: round((((1 + 5 ** 0.5) / 2) ** n - ((1 - 5 ** 0.5) / 2) ** n) / 5 ** 0.5), [91, 92]))
f

[4660046610375544832, 7540113804746369024]

In [162]:
f = list(map(lambda n: round(((1 + 5 ** 0.5) / 2) ** n / 5 ** 0.5), [91, 92]))
f

[4660046610375544832, 7540113804746369024]

In [157]:
for i in range(101):
    print(i + 1, round(((1 + 5 ** 0.5) / 2) ** i / 5 ** 0.5))

1 0
2 1
3 1
4 2
5 3
6 5
7 8
8 13
9 21
10 34
11 55
12 89
13 144
14 233
15 377
16 610
17 987
18 1597
19 2584
20 4181
21 6765
22 10946
23 17711
24 28657
25 46368
26 75025
27 121393
28 196418
29 317811
30 514229
31 832040
32 1346269
33 2178309
34 3524578
35 5702887
36 9227465
37 14930352
38 24157817
39 39088169
40 63245986
41 102334155
42 165580141
43 267914296
44 433494437
45 701408733
46 1134903170
47 1836311903
48 2971215073
49 4807526976
50 7778742049
51 12586269025
52 20365011074
53 32951280099
54 53316291173
55 86267571272
56 139583862445
57 225851433717
58 365435296162
59 591286729879
60 956722026041
61 1548008755920
62 2504730781961
63 4052739537881
64 6557470319842
65 10610209857723
66 17167680177565
67 27777890035288
68 44945570212853
69 72723460248141
70 117669030460994
71 190392490709135
72 308061521170130
73 498454011879265
74 806515533049395
75 1304969544928660
76 2111485077978055
77 3416454622906716
78 5527939700884771
79 8944394323791488
80 14472334024676260
81 23416728348467744
82 37889062373144008
83 61305790721611752
84 99194853094755776
85 160500643816367552
86 259695496911123328
87 420196140727490880
88 679891637638614272
89 1100087778366105088
90 1779979416004719360
91 2880067194370824704
92 4660046610375544832
93 7540113804746369024
94 12200160415121913856
95 19740274219868282880
96 31940434634990198784
97 51680708854858489856
98 83621143489848688640
99 135301852344707186688
100 218922995834555891712
101 354224848179263111168

Classic algo for fib numbers (for checking purposes):

In [163]:
def fib_list(n):
    fib_l = [None] * 1000 # если больше, то мы всё-равно получим ошибку переполнения стека вызовов функций
    # Заменим первые два элемента списка
    fib_l[:2] = [0, 1]

    def _fib_list(n):
        if fib_l[n] is None:
            fib_l[n] = _fib_list(n - 1) + _fib_list(n - 2)
        return fib_l[n]

    return _fib_list(n)

print(fib_list(91))
print(fib_list(92))
print(fib_list(93))
#print(fib_list(2 ** 20))

4660046610375530309
7540113804746346429
12200160415121876738

__#2__ Use decimal for more accurancy, but default precision (28 places) is not enough, and even 151 is not enough. When I set it more than 151 I get 'Exceeded time limit of 0.200 seconds'.

In [200]:
from math import log, floor, ceil
from decimal import *

def nearest_fibonacci(number):
    getcontext().prec = 200
    d5 = Decimal(5).sqrt()
    n = log(number * 5 ** 0.5, (1 + 5 ** 0.5) / 2)
    #print(n)
    f = list(map(lambda n: round(((1 + d5) / 2) ** n / d5), [floor(n), ceil(n)]))
    #print(number, f)
    return f[1] if abs(number - f[1]) < abs(number - f[0]) else f[0]



print(nearest_fibonacci(1349067607633771176614915012155984215321408726953289513579964068900951181819613834964469437486098165146421114113984020391922911702788609266457774466657153), 1115431593560796532808555613387415446435640602179650541231738132603247322617636923378668235747257928207760719121572766322243359119244897932753117196435737, sep='\n')

1115431593560796532808555613387415446435640602179650541231738132603247322617636923378668235747257928207760719121572766322243359119244897932753117196435737
1115431593560796532808555613387415446435640602179650541231738132603247322617636923378668235747257928207760719121572766322243359119244897932753117196435737

In [271]:
import math
from decimal import *

a = Decimal(1)
print(a, type(a))
a = Decimal(1.0)
print(a, type(a))
a = Decimal('1')
print(a, type(a))
a = a ** 8
print(a, type(a))
# a = a ** 0.5
# print(a, type(a))
a = math.sqrt(a)
print(a, type(a))
a = Decimal(3.2)
print(a, pow(a, 34))

1 <class 'decimal.Decimal'>
1 <class 'decimal.Decimal'>
1 <class 'decimal.Decimal'>
1 <class 'decimal.Decimal'>
1.0 <class 'float'>
3.20000000000000017763568394002504646778106689453125 1.4965776766268474e+17

In [272]:
from decimal import *

d5 = Decimal(5).sqrt()
res = ((1 + d5) / 2) ** 92 / d5
print(res, type(res))
res = round(res)
print(res, type(res))

7540113804746346429.000000000000000000026524798587801700942874781779773714622810228703953532098901967349232556118073868076575227628479624883445026933043 <class 'decimal.Decimal'>
7540113804746346429 <class 'int'>

In [275]:
from decimal import *

d5 = Decimal(5).sqrt()
res = ((1 - d5) / 2) ** Decimal(92.33) / d5
print(res, type(res))

InvalidOperation: [<class 'decimal.InvalidOperation'>]

In [184]:
c = getcontext()
c

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [199]:
7645281878642074485535133205944172751143011384808768193177375809620095682060320826830288084383872992695342808879708252367835721240788872451903860114461144

7645281878642074485535133205944172751143011384808768193177375809620095682060320826830288084383872992695342808879708252367835721240788872451903860114461144

Nope...

When I try to calculate only one fib number (instead of two) I get wrong result:

In [267]:
from math import log, floor, ceil
from decimal import *

def nearest_fibonacci(number):
    getcontext().prec = 151
    d5 = Decimal(5).sqrt()
    n = round(log(number * 5 ** 0.5, (1 + 5 ** 0.5) / 2))
    #print(n)
    return round(((1 + d5) / 2) ** n / d5)

numbers = [1, 2, 9, 17, 54]
nearest = [1, 2, 8, 13, 55]
for i in range(len(numbers)):
    print(nearest_fibonacci(numbers[i]), nearest[i])

1 1
2 2
8 8
21 13
55 55

I removed round of n (that's why it was requared to cast result of  this statement to Decimal type) and then I tried again to  calculate only one fib number (instead of two). Wrong result again:

In [266]:
from math import log, floor, ceil
from decimal import *

def nearest_fibonacci(number):
    getcontext().prec = 151
    d5 = Decimal(5).sqrt()
    n = Decimal.ln(Decimal(number) * d5) /  Decimal.ln((1 + d5) / 2)
    #print(n)
    return round(((1 + d5) / 2) ** n / d5)

numbers = [1, 2, 9, 17, 54]
nearest = [1, 2, 8, 13, 55]
for i in range(len(numbers)):
    print(nearest_fibonacci(numbers[i]), nearest[i])

1 1
2 2
9 8
17 13
54 55

Adding the discarded early negative part brings another problem with Decimal:

In [273]:
from math import log, floor, ceil
from decimal import *

def nearest_fibonacci(number):
    getcontext().prec = 151
    d5 = Decimal(5).sqrt()
    n = Decimal.ln(Decimal(number) * d5) /  Decimal.ln((1 + d5) / 2)
    #print(n)
    return round((((1 + d5) / 2) ** n  - ((1 - d5) / 2) ** n) / d5)

numbers = [1, 2, 9, 17, 54]
nearest = [1, 2, 8, 13, 55]
for i in range(len(numbers)):
    print(nearest_fibonacci(numbers[i]), nearest[i])

InvalidOperation: [<class 'decimal.InvalidOperation'>]

In [1]:
import numpy as np 

def nearest_fibonacci(number):
    sqrt5 = np.sqrt(5) 
    alpha = np.array((1 + sqrt5) / 2)
    beta = np.array((1 - sqrt5) / 2)
    #print(alpha, type(alpha))

    #n = Decimal.ln(Decimal(number) * d5) /  Decimal.ln((1 + d5) / 2)
    n = np.log(np.array(number) * sqrt5, alpha)
    print(n)
    return np.rint((alpha ** n) / (sqrt5))

# # We are creating an array contains n elements 
# # for getting first 'n' Fibonacci numbers 
# fNumber = int(input("Enter the value of n + 1'th number : ")) 
# a = np.arange(1, fNumber) 
# length_a = len(a) 

# # splitting of terms for easiness 


# # Implementation of formula 
# # np.rint is used for rounding off to integer 
# Fn = np.rint(((alpha ** a) - (beta ** a)) / (sqrt_five)) 
# print("The first {} numbers of Fibonacci series are {} . ".format(length_a, Fn)) 

numbers = [1, 2, 9, 17, 54]
nearest = [1, 2, 8, 13, 55]
for i in range(len(numbers)):
    print(nearest_fibonacci(numbers[i]), nearest[i])

0.8047189562170503
0.0 1
1.4978661367769956
1.0 2
3.00194353355327
12.0 8
3.6379323002732664
49.0 13
4.793703002781324
819.0 55

In [257]:
import numpy as np 

sqrt_five = np.sqrt(5) 
print(sqrt_five, type(sqrt_five))

2.23606797749979 <class 'numpy.float64'>

20201205

### How good are you really?
https://www.codewars.com/kata/5601409514fc93442500010b  
8 kyu

There was a test in your class and you passed it. Congratulations!
But you're an ambitious person. You want to know if you're better than the average student in your class.

You receive an array with your peers' test scores. Now calculate the average and compare your score!

Return True if you're better, else False!

Note:  
Your points are not included in the array of your class's points. For calculating the average point you may add your point to the given array!

__My solution:__

In [212]:
def better_than_average(class_points, your_points):
    return your_points > (sum(class_points) + your_points) / (len(class_points) + 1)


print(better_than_average([2, 3], 5), True)
print(better_than_average([100, 40, 34, 57, 29, 72, 57, 88], 75), True)
print(better_than_average([12, 23, 34, 45, 56, 67, 78, 89, 90], 69), True)

True True
True True
True True

20201206

### Going to the cinema
https://www.codewars.com/kata/562f91ff6a8b77dfe900006e  
7 kyu

My friend John likes to go to the cinema. He can choose between system A and system B.

System A : he buys a ticket (15 dollars) every time  
System B : he buys a card (500 dollars) and a first ticket for 0.90 times the ticket price, 
then for each additional ticket he pays 0.90 times the price paid for the previous ticket.

#Example: If John goes to the cinema 3 times:

System A : 15 * 3 = 45
System B : 500 + 15 * 0.90 + (15 * 0.90) * 0.90 + (15 * 0.90 * 0.90) * 0.90 ( = 536.5849999999999, no rounding for each ticket)

John wants to know how many times he must go to the cinema so that the final result of System B, when rounded up to the next dollar, will be cheaper than System A.

The function movie has 3 parameters: card (price of the card), ticket (normal price of a ticket), perc (fraction of what he paid for the previous ticket) and returns the first n such that

ceil(price of System B) < price of System A.

More examples:

movie(500, 15, 0.9) should return 43 
    (with card the total price is 634, with tickets 645)
movie(100, 10, 0.95) should return 24 
    (with card the total price is 235, with tickets 240)

__My solution:__

In [214]:
from math import ceil

def movie(card, ticket, perc):
    n = 0
    priceB = card
    while ceil(priceB) >= n * ticket:
        n += 1
        priceB += ticket * perc ** n
    return n
    
print(movie(500, 15, 0.9), 43)
print(movie(100, 10, 0.95), 24)

43 43
24 24

__Other users' solutions:__

__#1__ Using sum of geometric geometric progression:

In [215]:
from itertools import count
from math import ceil
def movie(card, ticket, perc):
    return next(n for n in count(1) if ceil(card + ticket * perc * (1 - perc ** n) / (1 - perc)) < ticket * n)

__#2__ Doesn't use ceil:

In [ ]:
def movie(card, ticket, perc, n = 1):
    while card + ticket*perc*(1-perc**n)/(1-perc) - ticket*n > -1: 
        n += 1
    return n

__#3__ Just math. Using Lambert W function.

In [ ]:
from scipy.special import lambertw
from math import ceil, log

def movie(a, b, c):
    log_c = log(c)
    w = lambertw(
        (c ** (a / b + c / (1 - c) + 1 / b + 1) * log_c) /
        (1 - c)).real
    return int(ceil((
        b * w - b * c * w -
        a * log(c) + a * c * log_c - b * c * log_c + c * log_c - log_c
    ) / (b * (c - 1) * log_c)))

20201207

### [ Code Golf ] Add 2 values for each
https://www.codewars.com/kata/5a99a1418e503ffb8300384c  
7 kyu

You get a list of integers. Return a new list by adding each consecutive pair of the list.

Examples  
[1, 1, 1, 1]  -->  [2, 2, 2]    #  [1+1, 1+1, 1+1]  
[1, 2, 3, 4]  -->  [3, 5, 7]    #  [1+2, 2+3, 3+4]  
[1, 10, 100]  -->  [11, 110]    #  [1+10, 10+100]  

Restriction  
Your code size can be maximum 60 characters.

__My solution:__

In [ ]:
make_new_list = lambda l:[sum(p) for p in zip(l[:-1],l[1:])]

The next form is too long:

In [218]:
def make_new_list(l):
    return [sum(p) for p in zip(l[:-1],l[1:])]


print(make_new_list([1, 1, 1, 1]), [2, 2, 2])
print(make_new_list([1, 2, 3, 4]), [3, 5, 7])
print(make_new_list([1, 10, 100]), [11, 110])

[2, 2, 2] [2, 2, 2]
[3, 5, 7] [3, 5, 7]
[11, 110] [11, 110]

This solution is too long too:

In [220]:
make_new_list=lambda l:[l[i]+l[i+1] for i in range(len(l)-1)]
                        
print(make_new_list([1, 1, 1, 1]), [2, 2, 2])
print(make_new_list([1, 2, 3, 4]), [3, 5, 7])
print(make_new_list([1, 10, 100]), [11, 110])

[2, 2, 2] [2, 2, 2]
[3, 5, 7] [3, 5, 7]
[11, 110] [11, 110]

__Other users' solutions:__

__#1__

In [ ]:
make_new_list = lambda l: list(map(sum, zip(l,l[1:])))

__#2__

In [221]:
make_new_list=lambda a:[*map(sum,zip(a,a[1:]))]

print(make_new_list([1, 1, 1, 1]), [2, 2, 2])
print(make_new_list([1, 2, 3, 4]), [3, 5, 7])
print(make_new_list([1, 10, 100]), [11, 110])

[2, 2, 2] [2, 2, 2]
[3, 5, 7] [3, 5, 7]
[11, 110] [11, 110]

__#3__

In [ ]:
def make_new_list(l):
    return [*map(sum, zip(l, l[1:]))]

__#4__

In [ ]:
make_new_list=lambda n:[n[i]+n[i+1]for i in range(len(n)-1)]

20201208

### [ Code Golf ] Remove duplicated nodes
https://www.codewars.com/kata/5c237d7c1ea8b34b32000244  
6 kyu

You get a list of nodes. Return the sorted list of nodes without any duplicates.

See example test cases for expected inputs and outputs.

( Node data structure is inspired by Cytoscape.js JSON)

Restriction  
Your code length should not be longer than 85 characters.

__My solution:__

__My unsuccessful attempts:__

In [27]:
import json

d = {'data': {'id': 'A'}}
prinat(str(d))
d = json.dumps(d)
d

{'data': {'id': 'A'}}

'{"data": {"id": "A"}}'

This solution is too long:

In [233]:
from itertools import *
def remove_duplicate(l):
    return[*groupby(sorted(l, key=lambda n:n['data']['id']))]


Nodes=[
    {'data': {'id': 'A'}}, 
    {'data': {'id': 'A'}}, 
    {'data': {'id': 'A'}}, 
    {'data': {'id': 'A'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'D'}}, 
    {'data': {'id': 'D'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'E'}}, 
    {'data': {'id': 'E'}}]

print(remove_duplicate(Nodes),[
    {'data': {'id': 'A'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'D'}}, 
    {'data': {'id': 'E'}}], sep='\n')

[({'data': {'id': 'A'}}, <itertools._grouper object at 0x000000000B266FD0>), ({'data': {'id': 'B'}}, <itertools._grouper object at 0x000000000B2660B8>), ({'data': {'id': 'D'}}, <itertools._grouper object at 0x000000000B2667F0>), ({'data': {'id': 'E'}}, <itertools._grouper object at 0x000000000B2664E0>)]
[{'data': {'id': 'A'}}, {'data': {'id': 'B'}}, {'data': {'id': 'D'}}, {'data': {'id': 'E'}}]

In [229]:
from itertools import groupby as g
def remove_duplicate(l):
    return[k for k, g in g(sorted(l, key=lambda n:n['data']['id']))]


Nodes=[
    {'data': {'id': 'A'}}, 
    {'data': {'id': 'A'}}, 
    {'data': {'id': 'A'}}, 
    {'data': {'id': 'A'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'D'}}, 
    {'data': {'id': 'D'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'E'}}, 
    {'data': {'id': 'E'}}]

print(remove_duplicate(Nodes),[
    {'data': {'id': 'A'}}, 
    {'data': {'id': 'B'}}, 
    {'data': {'id': 'D'}}, 
    {'data': {'id': 'E'}}], sep='\n')

[{'data': {'id': 'A'}}, {'data': {'id': 'B'}}, {'data': {'id': 'D'}}, {'data': {'id': 'E'}}]
[{'data': {'id': 'A'}}, {'data': {'id': 'B'}}, {'data': {'id': 'D'}}, {'data': {'id': 'E'}}]

20201209

### Square(n) Sum
https://www.codewars.com/kata/515e271a311df0350d00000f  
8 kyu

Complete the square sum function so that it squares each number passed into it and then sums the results together.

For example, for [1, 2, 2] it should return 9 because 1^2 + 2^2 + 2^2 = 9.

__My solutions:__

__#1__

In [234]:
def square_sum(numbers):
    return sum(n * n for n in numbers)
    
    
print(square_sum([1, 2]), 5)
print(square_sum([0, 3, 4, 5]), 50)

5 5
50 50

__#2__

In [235]:
from functools import reduce

def square_sum(numbers):
    return reduce(lambda a, b: a + b * b, numbers, 0)
    
    
print(square_sum([1, 2]), 5)
print(square_sum([0, 3, 4, 5]), 50)

5 5
50 50

__Other users' solutions:__

__#1__ Quite curious way to use numpy here:

In [237]:
import numpy

def square_sum(numbers):
    #print(numpy.array(numbers))
    #print(numpy.array(numbers) ** 2)
    return sum(numpy.array(numbers) ** 2)


print(square_sum([1, 2]), 5)
print(square_sum([0, 3, 4, 5]), 50)

[1 2]
[1 4]
5 5
[0 3 4 5]
[ 0  9 16 25]
50 50

### Python's Dynamic Classes #1
https://www.codewars.com/kata/55ddb0ea5a133623b6000043  
7 kyu

 Timmy's quiet and calm work has been suddenly stopped by his project manager (let's call him boss) yelling:  
 -Who named these classes?! Class MyClass? It's ridiculous! I want you to change it to UsefulClass!  
Tim sighed, he already knew it's gonna be a long day.
Few hours later, boss came again:  
 -Much better - he said - but now I want to change that class name to SecondUsefulClass, and went off.  
 Although Timmy had no idea why changing name is so important for his boss, he realized, that it's not the end, so he turned to you, his guru, to help him and asked you to prepare some function, which could change name of given class.  

Note: Proposed function should allow only names with alphanumeric chars (upper & lower letters plus ciphers), but starting only with upper case letter. In other case it should raise an exception.

Disclaimer: there are obviously betters way to check class name than in example cases, but let's stick with that, that Timmy yet has to learn them.

__My solution:__

In [243]:
def class_name_changer(cls, new_name):
    if new_name and new_name[0].isupper() \
        and new_name.isalnum():
        cls.__name__ = new_name
    else:
        raise Exception()


class MyClass:
    pass

myObject = MyClass();

class_name_changer(MyClass, "MyClass4");
print(MyClass.__name__, "MyClass4")

class_name_changer(MyClass, "UsefulClass");
print(MyClass.__name__, "UsefulClass")

class_name_changer(MyClass, "SecondUsefulClass");
print(MyClass.__name__, "SecondUsefulClass")

MyClass4 MyClass4
UsefulClass UsefulClass
SecondUsefulClass SecondUsefulClass

After observing other users' solutions I've modified mine a little:

In [252]:
def class_name_changer(cls, new_name):
    if new_name.isalnum() and new_name[0].isupper():
        cls.__name__ = new_name
    else:
        raise NameError('Invalid class name!')


class MyClass:
    pass

myObject = MyClass();

class_name_changer(MyClass, "MyClass4");
print(MyClass.__name__, "MyClass4")

class_name_changer(MyClass, "UsefulClass");
print(MyClass.__name__, "UsefulClass")

class_name_changer(MyClass, "SecondUsefulClass");
print(MyClass.__name__, "SecondUsefulClass")

class_name_changer(MyClass, "");
print(MyClass.__name__, "")

MyClass4 MyClass4
UsefulClass UsefulClass
SecondUsefulClass SecondUsefulClass

NameError: Invalid class name!

In [242]:
help(str.isalnum)

Help on method_descriptor:

isalnum(self, /)
    Return True if the string is an alpha-numeric string, False otherwise.

    A string is alpha-numeric if all characters in the string are alpha-numeric and
    there is at least one character in the string.

In [250]:
''.isalnum()

False

In [244]:
from string import ascii_letters
print(ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

__Other users' solutions:__

__#1__ Not bad but catch 'IndexError: string index out of range' when new_name is empty (I think for this case script should rise more specific exception):

In [246]:
def class_name_changer(cls, new_name) :
    if not new_name[0].isupper() or not new_name.isalnum():
        raise NameError('Invalid class name!')
    cls.__name__ = new_name
    

class MyClass:
    pass

myObject = MyClass();

class_name_changer(MyClass, "");
print(MyClass.__name__, "")

IndexError: string index out of range

Modified by me a little:

In [251]:
def class_name_changer(cls, new_name) :
    if not new_name.isalnum() or not new_name[0].isupper():
        raise NameError('Invalid class name!')
    cls.__name__ = new_name
    

class MyClass:
    pass

myObject = MyClass();

class_name_changer(MyClass, "");
print(MyClass.__name__, "")

NameError: Invalid class name!

__#2__ Good regex but NameError: name 'Error' is not defined

In [247]:
import re
def class_name_changer(cls, new_name):
    if not bool(re.match(r'(^[A-Z][a-zA-Z0-9_]*$)', new_name)):
        raise Error
    cls.__name__ = new_name
    

class MyClass:
    pass

myObject = MyClass();

class_name_changer(MyClass, "");
print(MyClass.__name__, "")

class_name_changer(MyClass, "Useful54Class");
print(MyClass.__name__, "Useful54Class")

NameError: name 'Error' is not defined

Modified by me a little:

In [255]:
import re
def class_name_changer(cls, new_name):
    if not re.fullmatch(r'([A-Z][a-zA-Z0-9_]*)', new_name):
        raise NameError('Invalid class name!')
    cls.__name__ = new_name
    

class MyClass:
    pass

myObject = MyClass();

class_name_changer(MyClass, "Useful54Class");
print(MyClass.__name__, "Useful54Class")

class_name_changer(MyClass, "Useful54Class&");
print(MyClass.__name__, "Useful54Class&")

class_name_changer(MyClass, "");
print(MyClass.__name__, "")

Useful54Class Useful54Class

NameError: Invalid class name!

20201211

### Matrix Exponentiation
https://www.codewars.com/kata/5791bdba3467db61ff000040  
6 kyu

Your task in this kata is to write a function which will take matrix and integer as an input: eg. calc(matrix, n) and would return a matrix raised to the power of n.

Be ready to handle big n.

A = [[1, 2], [1, 0]]  
calc(A, 2) = [[3, 2], [1, 2]]  

External aiding modules disabled

__My solution:__

__My unsuccessful attempts:__

__#2__
Bad test Results:  
Execution Timed Out

In [40]:
# Ver. 2. Bad test Results: Execution Timed Out

def calc(matrix, n):
    def matmul(A, B):
        '''
        Returns product of matrix A[n x m] and B[m x l]
        Product's dimension is [n x l]
        '''
        n = len(A)    # number of rows of A
        m = len(A[0]) # number of columns of A
        l = len(B[0]) # number of columns of B
        
        # If number of columns of A doesn't equal number of rows of B
        if m != len(B):
            raise Exception("Number of columns of matrix A doesn't equal number of rows of matrix B")
        
        return [[sum(A[i][k] * B[k][j] for k in range(m)) for j in range(l)] for i in range(n)]
    
    res = matrix
    for i in range(n - 1):
        res = matmul(res, matrix)
    return res
    
    
print(calc([[1, 2], [1, 0]], 2), [[3, 2], [1, 2]])
print(calc([[1, 2], [0, 1]], 3), [[1, 6], [0, 1]])

[[3, 2], [1, 2]] [[3, 2], [1, 2]]
[[1, 6], [0, 1]] [[1, 6], [0, 1]]

Testing my matmul function:

In [45]:
import numpy as np

def matmul(A, B):
    '''
    Returns product of matrix A[n x m] and B[m x l]
    Product's dimension is [n x l]
    '''
    n = len(A)    # number of rows of A
    m = len(A[0]) # number of columns of A
    l = len(B[0]) # number of columns of B

    # If number of columns of A doesn't equal number of rows of B
    if m != len(B):
        raise Exception("Number of columns of matrix A doesn't equal number of rows of matrix B")

#         C = [[0] * l for i in range(n)]
#         for i in range(n):
#             for j in range(l):
#                 C[i][j] = sum(A[i][k] * B[k][j] for k in range(m))

    return [[sum(A[i][k] * B[k][j] for k in range(m)) for j in range(l)] for i in range(n)]


A = [[-2, 1], [5, 4]]
B = [[3], [-1]]
print(matmul(A, B))
print(np.matmul(A, B))  # the same result as np.dot(A, B)

[[-7], [11]]
[[-7]
 [11]]

__#1__

This solution doesn't pass tests because of the next condition (which I haven't noticed): "External aiding modules disabled".

Bad test Results: 
Don't import numpy or a module that depends on it.

In [46]:
# Ver. 1. Bad test Results: External aiding modules disabled
import numpy as np

def calc(matrix, n):
    res = matrix
    for i in range(n - 1):
        res = np.dot(res, matrix)
    return res.tolist()

    
    
print(calc([[1, 2], [1, 0]], 2), [[3, 2], [1, 2]])
print(calc([[1, 2], [0, 1]], 3), [[1, 6], [0, 1]])

[[3, 2], [1, 2]] [[3, 2], [1, 2]]
[[1, 6], [0, 1]] [[1, 6], [0, 1]]

In [11]:
help(np.dot)

Help on built-in function dot in module numpy:

dot(...)
    dot(a, b, out=None)

    Dot product of two arrays. Specifically,

    - If both `a` and `b` are 1-D arrays, it is inner product of vectors
      (without complex conjugation).

    - If both `a` and `b` are 2-D arrays, it is matrix multiplication,
      but using :func:`matmul` or ``a @ b`` is preferred.

    - If either `a` or `b` is 0-D (scalar), it is equivalent to :func:`multiply`
      and using ``numpy.multiply(a, b)`` or ``a * b`` is preferred.

    - If `a` is an N-D array and `b` is a 1-D array, it is a sum product over
      the last axis of `a` and `b`.

    - If `a` is an N-D array and `b` is an M-D array (where ``M>=2``), it is a
      sum product over the last axis of `a` and the second-to-last axis of `b`::

        dot(a, b)[i,j,k,m] = sum(a[i,j,:] * b[k,:,m])

    Parameters
    ----------
    a : array_like
        First argument.
    b : array_like
        Second argument.
    out : ndarray, optional
        Output argument. This must have the exact kind that would be returned
        if it was not used. In particular, it must have the right type, must be
        C-contiguous, and its dtype must be the dtype that would be returned
        for `dot(a,b)`. This is a performance feature. Therefore, if these
        conditions are not met, an exception is raised, instead of attempting
        to be flexible.

    Returns
    -------
    output : ndarray
        Returns the dot product of `a` and `b`.  If `a` and `b` are both
        scalars or both 1-D arrays then a scalar is returned; otherwise
        an array is returned.
        If `out` is given, then it is returned.

    Raises
    ------
    ValueError
        If the last dimension of `a` is not the same size as
        the second-to-last dimension of `b`.

    See Also
    --------
    vdot : Complex-conjugating dot product.
    tensordot : Sum products over arbitrary axes.
    einsum : Einstein summation convention.
    matmul : '@' operator as method with out parameter.

    Examples
    --------
    >>> np.dot(3, 4)
    12

    Neither argument is complex-conjugated:

    >>> np.dot([2j, 3j], [2j, 3j])
    (-13+0j)

    For 2-D arrays it is the matrix product:

    >>> a = [[1, 0], [0, 1]]
    >>> b = [[4, 1], [2, 2]]
    >>> np.dot(a, b)
    array([[4, 1],
           [2, 2]])

    >>> a = np.arange(3*4*5*6).reshape((3,4,5,6))
    >>> b = np.arange(3*4*5*6)[::-1].reshape((5,4,6,3))
    >>> np.dot(a, b)[2,3,2,1,2,2]
    499128
    >>> sum(a[2,3,2,:] * b[1,2,:,2])
    499128

20201211

### Welcome to the Codewars Bar!
https://www.codewars.com/kata/5aee86c5783bb432cd000018  
7 kyu

Codewars Bar recommends you drink 1 glass of water per standard drink so you're not hungover tomorrow morning.

Your fellow coders have bought you several drinks tonight in the form of a string. Return a string suggesting how many glasses of water you should drink to not be hungover.

Examples  
"1 beer"  -->  "1 glass of water"  
because you drank one standard drink

"1 shot, 5 beers, 2 shots, 1 glass of wine, 1 beer"  -->  "10 glasses of water"  
because you drank ten standard drinks

Note:  
To keep the things simple, we'll consider that any "numbered thing" in the string is a drink. Even "1 bear" -> "1 glass of water"; or "1 chainsaw and 2 pools" -> "3 glasses of water"...

__My solutions:__

__#1__

In [50]:
import re

def hydrate(drink_string): 
    drink_amount = sum(int(s) for s in re.findall(r'\d+', drink_string))
    return f'{drink_amount} glass{("", "es")[drink_amount > 1]} of water'


print(hydrate("1 beer"), "1 glass of water")
print(hydrate("1 shot, 5 beers, 2 shots, 1 glass of wine, 1 beer"), "10 glasses of water")

1 glass of water 1 glass of water
10 glasses of water 10 glasses of water

Almost the same:

In [57]:
import re

def hydrate(drink_string): 
    drink_amount = sum(int(s) for s in re.split(r'[^\d]+', drink_string) if s)
    return f'{drink_amount} glass{("", "es")[drink_amount > 1]} of water'


print(hydrate("1 beer"), "1 glass of water")
print(hydrate("1 shot, 5 beers, 2 shots, 1 glass of wine, 1 beer"), "10 glasses of water")

1 glass of water 1 glass of water
10 glasses of water 10 glasses of water

In [56]:
drink_string = '1 beer'
re.split(r'[^\d]+', drink_string)

['1', '']

__#2__

In [59]:
def hydrate(drink_string): 
    drink_amount = 0
    s_num = ''
    for s in drink_string:
        if s.isdigit():
            s_num += s
        else:
            if s_num:
                drink_amount += int(s_num)
                s_num = ''
    return f'{drink_amount} glass{("", "es")[drink_amount > 1]} of water'           


print(hydrate("1 beer"), "1 glass of water")
print(hydrate("1 shot, 5 beers, 2 shots, 1 glass of wine, 1 beer"), "10 glasses of water")

1 glass of water 1 glass of water
10 glasses of water 10 glasses of water

__Other users' solution:__

__#1__

In [ ]:
import re

def hydrate(s):
    n = sum(map(int,re.findall(r'\d+',s)))
    return f"{ n } glass{ 'es'*(n!=1) } of water"

__#2__

In [62]:
def hydrate(drink_string): 
    c=sum(int(c) for c in drink_string.split() if c.isdigit())
    return "{} {} of water".format(c,'glass') if c==1 else "{} {} of water".format(c,'glasses')

print(hydrate("11 beer"), "11 glass of water")
print(hydrate("1 shot, 5 beers, 2 shots, 1 glass of wine, 1 beer"), "10 glasses of water")

11 glasses of water 11 glass of water
10 glasses of water 10 glasses of water

In [60]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [61]:
'gdf1fgg2gfgg3gthh'.split('123')

['gdf1fgg2gfgg3gthh']

__#3__

In [ ]:
def hydrate(s): 
    a = sum(map(int, filter(str.isdigit, s.split())))
    return f"{a} glass{['es', ''][a == 1]} of water"

20201212

### Don't give me five!
https://www.codewars.com/kata/5813d19765d81c592200001a  
7 kyu

Don't give me five!
In this kata you get the start number and the end number of a region and should return the count of all numbers except numbers with a 5 in it. The start and the end number are both inclusive!

Examples:

1,9 -> 1,2,3,4,6,7,8,9 -> Result 8  
4,17 -> 4,6,7,8,9,10,11,12,13,14,16,17 -> Result 12  

The result may contain fives. ;-)
The start number will always be smaller than the end number. Both numbers can be also negative!

I'm very curious for your solutions and the way you solve it. Maybe someone of you will find an easy pure mathematics solution.

__My solution:__

In [66]:
def dont_give_me_five(start, end):
    return end - start + 1 - sum('5' in str(num) for num in range(start, end + 1))


print(dont_give_me_five(1, 9), 8)
print(dont_give_me_five(4, 17), 12)

8 8
12 12

### L1: Set Alarm
https://www.codewars.com/kata/568dcc3c7f12767a62000038  
8 kyu

Write a function named setAlarm which receives two parameters. The first parameter, employed, is true whenever you are employed and the second parameter, vacation is true whenever you are on vacation.

The function should return true if you are employed and not on vacation (because these are the circumstances under which you need to set an alarm). It should return false otherwise. Examples:

setAlarm(true, true) -> false  
setAlarm(false, true) -> false  
setAlarm(false, false) -> false  
setAlarm(true, false) -> true

__My solution:__

In [63]:
def set_alarm(employed, vacation):
        return employed and not vacation
    

print(set_alarm(True, True), False, "Fails when input is True, True")
print(set_alarm(False, True), False, "Fails when input is False, True")
print(set_alarm(False, False), False, "Fails when input is False, False")
print(set_alarm(True, False), True, "Fails when input is True, False")

False False Fails when input is True, True
False False Fails when input is False, True
False False Fails when input is False, False
True True Fails when input is True, False

20201213

### Can we divide it?
https://www.codewars.com/kata/5a2b703dc5e2845c0900005a  
8 kyu

Your task is to create functionisDivideBy (or is_divide_by) to check if an integer number is divisible by each out of two arguments.

A few cases:


(-12, 2, -6)  ->  true  
(-12, 2, -5)  ->  false  

(45, 1, 6)    ->  false  
(45, 5, 15)   ->  true  

(4, 1, 4)     ->  true  
(15, -5, 3)   ->  true

__My solution:__

In [67]:
def is_divide_by(number, a, b):
     return not(number % a or number % b)
    
    
print(is_divide_by(-12, 2, -6), True)
print(is_divide_by(-12, 2, -5), False)
print(is_divide_by(45, 1, 6), False)
print(is_divide_by(45, 5, 15), True)
print(is_divide_by(4, 1, 4), True)
print(is_divide_by(15, -5, 3), True)

True True
False False
False False
True True
True True
True True

### Valid Parentheses
https://www.codewars.com/kata/52774a314c2333f0a7000688  
5 kyu

Write a function called that takes a string of parentheses, and determines if the order of the parentheses is valid. The function should return true if the string is valid, and false if it's invalid.

Examples

"()"              =>  true  
")(()))"          =>  false  
"("               =>  false  
"(())((()())())"  =>  true  

Constraints

0 <= input.length <= 100

Along with opening (() and closing ()) parenthesis, input may contain any valid ASCII characters. Furthermore, the input string may be empty and/or not contain any parentheses at all. Do not treat other forms of brackets as parentheses (e.g. [], {}, <>).

__My solutions:__

__#1__

In [71]:
def valid_parentheses(string):
    opened = 0
    for s in string:
        if s == '(':
            opened += 1
        elif s == ')':
            if opened:
                opened -= 1
            else:
                return False
    return True if not opened else False
    
    
print(valid_parentheses("  ("), False)
print(valid_parentheses(")test"), False)
print(valid_parentheses(""), True)
print(valid_parentheses("hi())("), False)
print(valid_parentheses("hi(hi)()"), True)
print(valid_parentheses("qde(yg(ycashliifd)gwspt(p)bhe"), False)
print(valid_parentheses("()iiqp(())(fp)"), True)
print(valid_parentheses(""), True)

False False
False False
True True
False False
True True
False False
True True
True True

__#2__

In [72]:
def valid_parentheses(string):
    stack = []
    for s in string:
        if s == '(':
            stack.append('(')
        elif s == ')':
            if stack:
                stack.pop()
            else:
                return False
    return True if not stack else False
    
    
print(valid_parentheses("  ("), False)
print(valid_parentheses(")test"), False)
print(valid_parentheses(""), True)
print(valid_parentheses("hi())("), False)
print(valid_parentheses("hi(hi)()"), True)
print(valid_parentheses("qde(yg(ycashliifd)gwspt(p)bhe"), False)
print(valid_parentheses("()iiqp(())(fp)"), True)
print(valid_parentheses(""), True)

False False
False False
True True
False False
True True
False False
True True
True True

20201214

### Simple fibonacci strings
https://www.codewars.com/kata/5aa39ba75084d7cf45000008  
7 kyu

Given that

f0 = '0'  
f1 = '01'  
f2 = '010' = f1 + f0  
f3 = '01001' = f2 + f1

You will be given a number and your task is to return the nth fibonacci string. For example:

solve(2) = '010'  
solve(3) = '01001'

__My solution:__

In [7]:
def solve(n):
    cashe = [None] * (n + 2)
    cashe[0], cashe[1] = '0', '01'
    
    def rec(n):   
        if cashe[n] is None:
            cashe[n] = rec(n - 1) + rec(n - 2)        
        return cashe[n]    
    return rec(n)
                           

print(solve(0), '0')
print(solve(1), '01')
print(solve(2), '010')
print(solve(3), '01001')
print(solve(5), '0100101001001')

0 0
01 01
010 010
01001 01001
0100101001001 0100101001001

__Other users' solution:__

__#1__

In [8]:
def solve(n):
    a, b = '01'
    for i in range(n):
        a, b = a + b, a
    return a
                           

print(solve(0), '0')
print(solve(1), '01')
print(solve(2), '010')
print(solve(3), '01001')
print(solve(5), '0100101001001')

0 0
01 01
010 010
01001 01001
0100101001001 0100101001001

__#2__

In [ ]:
def solve(n):
    if n == 0:
        return "0"
    if n == 1:
        return "01"
    return f"{solve(n-1)}{solve(n-2)}"

__#3__

In [ ]:
def solve(n, memo = { 0 : "0", 1 : "01"}):
    if n not in memo:
        memo[n] = solve(n - 1) + solve(n - 2) 
    return memo[n]

__#4__

In [ ]:
def solve(n):
    x, y = '0', '01'
    for i in range(n):
        x, y = y, y + x
    return x

__#5__

In [ ]:
def solve(n, f='0', g='01'):
    return solve(n - 1, g, g + f) if n else f

In [9]:
def solve(n, f='0', g='1'):
    return solve(n - 1, g + f, f) if n else f


print(solve(0), '0')
print(solve(1), '01')
print(solve(2), '010')
print(solve(3), '01001')
print(solve(5), '0100101001001')

0 0
10 01
010 010
10010 01001
1001001010010 0100101001001

20201215

### Operation Transformation
https://www.codewars.com/kata/579ef9607cb1f38113000100  
6 kyu

You are given two positive integers a and b.

You can perform the following operations on a so as to obtain b :

(a-1)/2   (if (a-1) is divisible by 2)  
a/2       (if a is divisible by 2)  
a*2

b will always be a power of 2.

You are to write a function operation(a,b) that efficiently returns the minimum number of operations required to transform a into b.

For example:

operation(2,8) -> 2  
2*2 = 4  
4*2 = 8  

operation(9,2) -> 2  
(9-1)/2 = 4  
4/2 = 2  

operation(1024,1024) -> 0

__My solution:__

In [18]:
import re

def operation(a, b):
    if a == b == 0:
        return 0
    if a == 0 or b == 0:
        raise ValueError
        
    a = bin(a)[2:]
    b = bin(b)[2:]
    m = re.search(r'\b10*', a)[0]
    #print(m, a, b)
    return len(a) - len(m) + abs(len(m) - len(b));


print(operation(1, 1), 0)
print(operation(4, 1), 2)
print(operation(1, 4), 2)

0 0
2 2
2 2

In [11]:
import re

help(re.match)

Help on function match in module re:

match(pattern, string, flags=0)
    Try to apply the pattern at the start of the string, returning
    a Match object, or None if no match was found.

20201216

### Build a pile of Cubes
https://www.codewars.com/kata/5592e3bd57b64d00f3000047  
6 kyu

Your task is to construct a building which will be a pile of n cubes. The cube at the bottom will have a volume of n^3, the cube above will have volume of (n-1)^3 and so on until the top which will have a volume of 1^3.

You are given the total volume m of the building. Being given m can you find the number n of cubes you will have to build?

The parameter of the function findNb (find_nb, find-nb, findNb) will be an integer m and you have to return the integer n such as n^3 + (n-1)^3 + ... + 1^3 = m if such a n exists or -1 if there is no such n.

Examples:  
findNb(1071225) --> 45  
findNb(91716553919377) --> -1

__My solutions:__

__#1__

I get not quite accurate roots because of floats so I need all this round() transformation and explicit substitution in equation for result checking:

In [47]:
from math import sqrt

def find_nb(m):
    # Using formula: n^3 + (n-1)^3 + ... + 1^3 = (n(n+1)/2)^2
    # Max. root of quadratic equation (x = (-b + sqrt(D) / 2))
    n = round((-1 + sqrt(1 + 4 * 2 * sqrt(m))) / 2)
    print(type(n))
    return n if (n * (n + 1) // 2) ** 2 == m else -1


print(find_nb(4183059834009), 2022)
print(find_nb(24723578342962), -1)
print(find_nb(135440716410000), 4824)
print(find_nb(40539911473216), 3568)
print(find_nb(26825883955641), 3218)

<class 'int'>
2022 2022
<class 'int'>
-1 -1
<class 'int'>
4824 4824
<class 'int'>
3568 3568
<class 'int'>
3218 3218

In [19]:
1.0 // 1

1.0

Here I use numpy and get <class 'numpy.float64'> result after round, that's why I get wrong result in checking comparasing (the same float problem). So I also also use int transformation after round:

In [48]:
import numpy as np
from math import sqrt

def find_nb(m):
    # Using formula: n^3 + (n-1)^3 + ... + 1^3 = (n(n+1)/2)^2
    # Max. root of quadratic equation
    n = (round(max(np.roots([1, 1, -2 * sqrt(m)]))))
    print(type(n))
    return n if (n * (n + 1) // 2) ** 2 == m else -1


print(find_nb(4183059834009), 2022)
print(find_nb(24723578342962), -1)
print(find_nb(135440716410000), 4824)
print(find_nb(40539911473216), 3568)
print(find_nb(26825883955641), 3218)
print(find_nb(1095754418796752101), -1) # 45755

<class 'numpy.float64'>
2022.0 2022
<class 'numpy.float64'>
-1 -1
<class 'numpy.float64'>
4824.0 4824
<class 'numpy.float64'>
3568.0 3568
<class 'numpy.float64'>
3218.0 3218
<class 'numpy.float64'>
45755.0 -1

In [42]:
n = 45755
m = 1095754418796752101
r = ((n * (n + 1) // 2) * (n * (n + 1) // 2))
print(r, m, r == m)

1095754418796752100 1095754418796752101 False

In [10]:
24723578342962 ** 0.5

4972281.000000101

In [13]:
(1 + 4 * 2 * 24723578342962 ** 0.5) ** 0.5

6307.000000000064

In [9]:
4183059834009 ** 0.5

2045253.0

In [12]:
(1 + 2 * 4 * 2045253.0) ** 0.5

4045.0

__#2__

In [ ]:
def find_nb(m):
    n = -1
    while m > 0:
        n += 1
        m -= n * n * n
    return n if m == 0 else -1


print(find_nb(4183059834009), 2022)
print(find_nb(24723578342962), -1)
print(find_nb(135440716410000), 4824)
print(find_nb(40539911473216), 3568)
print(find_nb(26825883955641), 3218)

20201217

### Char Code Calculation
https://www.codewars.com/kata/57f75cc397d62fc93d000059  
7 kyu

Given a string, turn each letter into its ASCII character code and join them together to create a number - let's call this number total1:

'ABC' --> 'A' = 65, 'B' = 66, 'C' = 67 --> 656667

Then replace any incidence of the number 7 with the number 1, and call this number 'total2':

total1 = 656667  
              
total2 = 656661  
              
              
Then return the difference between the sum of the digits in total1 and total2:

(6 + 5 + 6 + 6 + 6 + 7)  - (6 + 5 + 6 + 6 + 6 + 1) = 6

__My solutions:__

__#1__

In [49]:
def calc(x):
    total1 = ''.join(str(ord(c)) for c in x)
    total2 = total1.replace('7', '1')
    return sum(map(int, total1)) - sum(map(int, total2))


print(calc('ABC'), 6)
print(calc('abcdef'), 6)
print(calc('ifkhchlhfd'), 6) 
print(calc('aaaaaddddr'), 30) 
print(calc('jfmgklf8hglbe'), 6)
print(calc('jaam'), 12)
print(calc('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'), 96)

6 6
6 6
6 6
30 30
6 6
12 12
96 96

__#2__

In [50]:
def calc(x):
    return ''.join(str(ord(c)) for c in x).count('7') * 6


print(calc('ABC'), 6)
print(calc('abcdef'), 6)
print(calc('ifkhchlhfd'), 6) 
print(calc('aaaaaddddr'), 30) 
print(calc('jfmgklf8hglbe'), 6)
print(calc('jaam'), 12)
print(calc('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'), 96)

6 6
6 6
6 6
30 30
6 6
12 12
96 96

### How many days are we represented in a foreign country?
https://www.codewars.com/kata/58e93b4706db4d24ee000096  
7 kyu

How many days are we represented in a foreign country?

My colleagues make business trips to a foreign country. We must find the number of days our company is represented in a country. Every day that one or more colleagues are present in the country is a day that the company is represented. A single day cannot count for more than one day.

Write a function that recieves a list of pairs and returns the number of days that the company is represented in the foreign country. The first number of the pair is the number of the day of arrival and the second number of the pair is the day of departure of someone who travels, i.e. 1 january is number 1 and 31 of december is 365.

Example:

days_represented([[10,17],[200,207]])

Returns 16 because there are two trips of 8 days, which add up to 16.

__My solutions:__

__#1__

In [51]:
def days_represented(trips):
    days = [0] * 365
    for start, end in trips:
        for day in range(start, end + 1):
            days[day] = 1
    return sum(days)


print(days_represented([[10,15],[25,35]]), 17)
print(days_represented([[2,8], [220,229],[10,16]]), 24)

17 17
24 24

__#2__

In [59]:
def days_represented(trips):
    return len(set(day for start, end in trips for day in range(start, end + 1)))


print(days_represented([[10,15], [25,35]]), 17)
print(days_represented([[2,8], [220,229], [10,16]]), 24)

17 17
24 24